<div id="sales-ops">
</div>

<div class="margintb25">
  <div class="container">
    <h3 class="text-center text-uppercase bold" style="margin: 1.5rem 0 1.75rem 0;">
      <span class="text-blue">Sales </span> Managers
    </h3>

    <p class="text-center">
      Better pipeline visibility leads to better management.
    </p>

    <div class="roles-2">
      <strong class="lite-550">Problem - It’s always a problem to get better visibility into your team’s performance.
      </strong>
      <div class="bg-grey-litest clearfix">
          <div class="pull-left">
          <img src="assets/website/visibility.png">
        </div>
        <div class="pull-left">
        <strong class="lite-550">Solution</strong>
        <div class="solution">
          Predict quota achievement better by visibility into the interaction pattern across the timeline of key opportunities
        </div>
        </div>

      </div>
    </div>

    <div class="roles-2">
      <strong class="lite-550">
        Problem - Recommendation Engine to help sales teams
      </strong>
      <div class="bg-grey-litest clearfix">
          <div class="pull-left">
          <img src="assets/website/recommend.png">
        </div>
        <div class="pull-left">
        <strong class="lite-550">Solution</strong>
        <div class="solution">
          Get to know the probability of winning deals. Intervene at the right time based on past interactions. Earn trust with your customers by being on top of the deal process.
        </div>
        </div>

      </div>
    </div>

    <div class="roles-2">
      <strong class="lite-550">Problem - Encourage Team selling</strong>
      <div class="bg-grey-litest clearfix">
          <div class="pull-left">
          <img src="assets/website/encourage.png">
        </div>
        <div class="pull-left">
        <strong class="lite-550">Solution</strong>
        <div class="solution">
          Track key metrics like quota achievement, conversion rate, average deal size, sales cycle, interactions. Have a timeline view of how deals are progressing orgwide. Know if your team is interacting with the right people in your customers organization.
        </div>
        </div>

      </div>
    </div>
  </div>
</div>
