<table style="margin-top: 75px" border="0" width="75%" align="center">



  <tbody><tr>



    <td align="center"><h1 class="page-title down-arr-offset">FAQ</h1></td>

  </tr>







  <tr>



    <td align="left">

      <!-- 12 Aug 2016 -->



      <h2>What is RELATAS?</h2><br>



      RELATAS is Relationship Intelligence. RELATAS helps businesses and busy sales professionals auto discover relationships insights through data driven intelligence leading to faster sales cycles. RELATAS integrates with your email, calendars, calls, SMS, social feeds and more to keep you informed on your professional connections at all times, helping you open more doors. <br><br>

      <p align="center"><b> RELATAS helps you close deals faster. </b> </p><br><br>




      <video id="my-video" class="video-js vjs-default-skin" controls="" preload="auto" width="485" height="275" poster="/images/relatasIcon.png" data-setup="{}" style="margin: auto;background-color: #eee;border: 1px solid #ddd;">

        <source src="https://s3.amazonaws.com/relatas-live-imagestorage/Video/Relatas_380.mp4" type="video/mp4">



        <p class="vjs-no-js">

          To view this video please enable JavaScript, and consider upgrading to a web browser that

          supports HTML5 video

        </p>

      </video>



      <h2>Does RELATAS work on all devices?</h2><br>



      RELATAS currently works seamlessly on the web, mobile browsers and Android devices. If you do face issues please mail us at <a href="mailto:hello@relatas.com" target="_blank">hello@relatas.com</a>.<br><br>


      <h2>How does RELATAS access my Google/ Microsoft account?</h2><br>



      We use OAuth to request permission to access your data. This means that when you sign up, you'll be redirected to Google/ Microsoft and asked whether you want to allow RELATAS to access your data. Once you approve, Google/ Microsoft will give us access. It all takes just a few clicks. We never have access to your password, that's the reason everytime you login through Google/ Microsoft we need to authenticate you.<br><br>







      <h2>Why do I need to connect with Google or Microsoft?</h2><br>



      Connecting your Google Account allows you to know more about the people you are meeting or recently met. Logging in with Gmail or Microsoft Office365 or Outlook.com allows us to create detailed profiles of people you wish to stay connected with and also show you insights about your contacts. Please read our Privacy Policy for more details.<br><br>







      <h2>Why should I connect my Social Networks (LinkedIn/ Twitter/ Facebook) to RELATAS?</h2><br>



      Connecting your LinkedIn / Twitter and Facebook accounts to Relatas helps you get a unified view of your contacts and helps you get your interaction intelligence on these platforms on Relatas. This further helps you understand your relationship strength and get more interaction intelligence. Based on your interaction strength, Relatas can now show you the best path to connect with someone new and open new opportunities.<br><br>



      Every user interacts with contacts across various platforms (Mail/ Calendar/ Calls/ SMS/ LinkedIn/ Twitter/ Facebook)and connecting these on Relatas, provides you a consolidated view of your interactions across various disparate systems. <br><br>



      Add to this, with our Predictive Analytics and Advanced Data Science we can tell you who you are losing touch with and notify you to re-connect with your contacts at the right time, so that you don't lose that important business opportunity.<br><br>



      <h2>How do I signup for RELATAS for Business Plan?</h2><br>



      We are currently signing up select few Enterprises for the RELATAS for Business Plan. Please mail us at <a href="mailto:hello@relatas.com" target="_blank">hello@relatas.com</a> to signup for the Business Plan for your team.<br><br>







      <h2>Which providers does RELATAS support?</h2><br>



      We currently support Google and Microsoft Office365 / Outlook.com.<br><br>







      <h2>Can I add multiple accounts?</h2><br>



      Yes. After you log in, you can click on "Add Account" link under your Profile. Your RELATAS account will include data from all the accounts you add.<br><br>







      <h2>How do I disable daily agenda mail?</h2><br>



      On the profile page you would find a check box which says "daily agenda mail". You may change it to a weekly mail or choose to never recieve the same. Pl select the option that suits you the best.<br><br>







      <h2>How do I remove my data from RELATAS?</h2><br>



      Once your acccount is deleted you will have to re-build the network on RELATAS all over again. <br>



      If you want to stop using RELATAS, you may send us an email at <a href="mailto:hello@relatas.com" target="_blank">hello@relatas.com</a> with subject "Delete my account" from <u>your registered email id. </u>Please also email us your Unique RELATAS id. You will find your Unique Relatas id under Profile tab. <br><br>



      Account deletion may take anywhere between 24-72 hours. We will confirm once your account is deleted. We will remove your data, the statistics we sent to you in your weekly updates, and the relationship strength data in RELATAS' aggregated network of contacts that was derived from your interaction data. Please see our Terms of Use for more information. <br><br>



      You may also revoke RELATAS permission to access your data in your Google account. To do this, visit <a href="http://accounts.google.com/" target="_blank">accounts.google.com</a>. In your Google security settings, you can revoke the permissions of any third party service which has access to your Google account data.<br><br>



      <h2>Have more questions?</h2><br>



      Please send us an email at <a href="mailto:hello@relatas.com" target="_blank">hello@relatas.com</a> and we will be happy to respond to you. <br><br>

      <p></p></td>



  </tr>





  </tbody></table>
