
<div id="sales-ops text-center">
  <img src="assets/hero/hero_img_faq.png">
</div>

<div class="container">
  <section>
    <h1>What is RELATAS?
    </h1>
    <p>
      Relatas is the Sales AI platform that successful B2B sales teams use for Sales Forecasting, Account Management and Sales Execution using Relationship Intelligence and AI. Relatas helps Sales Professionals sell better and faster, with NO-DATA-ENTRY & helping Sales Managers reduce revenue loss and better sales forecasting.
    </p>
  </section>
  <section>
    <h1>
      How do I signup for RELATAS for Business Plan?

    </h1>
    <p>
      Please mail us at hello@relatas.com to signup for Relatas for your team.
    </p>
  </section>
  <section>
    <h1>
      How do I signup for Trial and what will I be shown?
    </h1>
    <p>
      Please mail us at hello@relatas.com to signup for Relatas trial. We'll answer any questions you may have and show you how Relatas works for your business. You'll see for yourself:
    </p>
    <ol>
      <li>
        How Relatas automatically shows you all interactions with your contacts/ customers.
      </li>
      <li>
        How seamlessly you can view details across your sales/ marketing/ finance / other teams within your orgaization.
      </li>
      <li>
        How you can make better decisions with powerful reporting.
      </li>
      <li>
        Setup targets and see which team members are likely to meet ther targets.
      </li>
      <li>
        Play with various What-If scenarios to see the best path to meet your target.
      </li>
    </ol>
  </section>
  <section>
    <h1>
      Can I add more team members to the trial?

    </h1>
    <p>
      Yes! We recommend you get your team involved from the trial period so that they are effective post trial. Invite everyone for the trial demo - we love meeting new people.

    </p>
    <p>
      Relatas works best with teams. Productivity/ Deal-Rooms/ Forecastign is 15X more powerful with team added.

    </p>
  </section>
  <section>
    <h1>
      Can I integrate other systems during trial?

    </h1>
    <p>
      We highly recommed you integrate all  related systems, email (Gsuite/ Office365), phone. If you are using any other CRM we would be happy to migreate your exiting data to Relatas so that you can see for yourself how powerful Relatas is.

    </p>
  </section>
  <section>
    <h1>
      Can I use my own real business data in the trial?

    </h1>
    <p>
      We highly recommed you use your real business data duting the trial. Every business is unique and so is every sales person. We would love to show you how Relatas works for your organization by customizing various fields during the trial.

    </p>
    <p>
      The easiest way to get started is to login with your business email id and see how Relatas organizes your interactions to companies and recommends.

    </p>
    <p>
      Secondly, we recommend to get your team involved in the trial right away.

    </p>
  </section>
  <section>
    <h1>
      Do you have special pricing for non-profits/ Educational Institutions?

    </h1>
    <p>
      Yes, we do. Please do mail us at hello@relatas.com with your organization details

    </p>
    <ol>
      <li> Organization Name (Website)</li>
      <li>Official Email id</li>
      <li>Your designation</li>
      <li>Documentation of your non-profit / educational status</li>
      <li>Total Size of the organization</li>
      <li>How many people wish to use Relatas</li>
      <li>Website link</li>
      <li>What tool are you currently using and why do you want to move to Relatas</li>
    </ol>
  </section>
  <section>
    <h1>Do you have special pricing for startups?
    </h1>
    <p>
      Yes. Qualifying startups can get up to 50% off Relatas360 for the first year. Eligibility is subject to these qualifications and terms:

      You're a member of a participating accelerator, VC fund, and/or partner network.
      You've received less than $2M in funding.
      You have less than $1M in annual revenue.
      New customers only. Only valid for the first 12-months of service.
      Annual billing required.
    </p>
    <p>
      Please do mail us at hello@relatas.com with your organization details
    </p>
    <ol>
      <li> Organization Name (Website)</li>
      <li>Official Email id</li>
      <li>Your designation</li>
      <li>Funding and revenue</li>
      <li>Total Size of the organization</li>
      <li>How many people wish to use Relatas</li>
      <li>Website link</li>
      <li>What tool are you currently using and why do you want to move to Relatas</li>
    </ol>
    <p>      Eligibility is subject to verification by Relatas and falsely misrepresenting your eligibility will result in the immediate removal of your discount and a possible repayment to Relatas for any discounts you received. The discount only applies to subscription charges. Usages charges for calling and SMS are billed separately.</p>
  </section>
  <section>
    <h1>How do I remove my data from RELATAS?
    </h1>
    <p>
      Once your account is deleted you will have to re-build the network on RELATAS all over again.
      If you want to stop using RELATAS, you may send us an email at hello@relatas.com with subject "Delete my account" from your registered email id.
    </p>
    <p>

      Account deletion may take anywhere between 24-72 hours. We will confirm once your account is deleted. We will remove your data, the statistics we sent to you in your weekly updates, and the relationship strength data in RELATAS' aggregated network of contacts that was derived from your interaction data. Please see our Terms of Use for more information.

    </p>
    <p>
      You may also revoke RELATAS permission to access your data in your Google account. To do this, visit accounts.google.com. In your Google security settings, you can revoke the permissions of any third party service which has access to your Google account data.
    </p>
  </section>
  <section>
    <h1>
      Have more questions?

    </h1>
    <p>
      Please send us an email at hello@relatas.com and we will be happy to assist to you.

    </p>
  </section>
</div>
