<div id="sales-ops">
</div>

<div class="margintb25">
  <div class="container">
    <h3 class="text-center text-uppercase bold" style="margin: 1.5rem 0 1.75rem 0;">
      <span class="text-blue">Sales </span> Operations Manager
    </h3>

    <p class="text-center">
      Move away from spreadsheets. No more manual reports.
      Relatas provides out of the box reports necessary for strategic sales support
    </p>

    <div class="roles-2">
      <strong class="lite-550">

        The problem - No More Excel sheets. Collating information from multiple
        managers and sales team members and verifying again before making a excel report is painful. We understand you.
      </strong>
      <div class="bg-grey-litest clearfix">
         <div class="pull-left">
          <img src="assets/website/collate.png">
        </div>
        <div class="pull-left">
          <strong class="lite-550">Solution</strong>
          <div class="solution">
            No more collating information from every sales team member.
            Relatas collates all the information that you need real-time with proper roll-ups.
          </div>
        </div>
      </div>
    </div>

    <div class="roles-2">
      <strong class="lite-550">
        The problem - Analytics – No running to the IT department to get the data that you need real-time
        Solution.
      </strong>
      <div class="bg-grey-litest clearfix">
         <div class="pull-left">
          <img src="assets/website/analytics.png">
        </div>
        <div class="pull-left">
          <strong class="lite-550">Solution</strong>
          <div class="solution">
            Relatas shows you all the information you need at your fingertips without any help from the IT department
          </div>
        </div>
      </div>
    </div>

    <div class="roles-2">
      <strong class="lite-550">
        The problem - Workflow – Leverage your experience with data driven artificial intelligence to drive success
      </strong>
      <div class="bg-grey-litest clearfix">
         <div class="pull-left">
          <img src="assets/website/workflow.png">
        </div>
        <div class="pull-left">
          <strong class="lite-550">Solution</strong>
          <div class="solution">
            Each sales person is different. Each deal is different. Relatas Artificial Intelligence adapts to each sales
            person creates a pattern for each deal and sales person to help you replicate success.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
