
.navbar .navbar-toggler{
  background: #fff;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

nav {
  padding: 0;
}

header {
  padding-top: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  background: #fff;
}

.navbar-nav .dropdown-item strong {
  font-size: 0.9rem;
  color: var(--primary);
}

.navbar-nav .dropdown-item:hover {
  cursor: pointer;
  overflow: hidden;
  transition: background 0.33s ease-out;
  background: #f5f5f5;
}

.navbar-nav .dropdown-item {
  font-size: 0.7rem;
  padding-left: 0;
  padding-right: 0;
  white-space: inherit;
  color: #333;
}

.resources-pos .row {
  margin-top: 5px;
  margin-bottom: 5px;
}

.resources-pos .new {
  background: var(--orange);
  color: #fff;
  margin-left: 5px;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 8px;
  font-weight: bold;
}

.resources-pos {
  width: 675px;
  box-shadow: 2px 2px 5px #aaa;
  padding: 5px 15px 5px 10px;
  left: -225px;
}

.resources-pos .row:first-child{
  margin-top: -5px;
}

.resources-pos .row:first-child p {
  margin-top: 15px;
  font-size: 14px;
}

.resources-pos .item .text {
  width: 81%;
  padding: 5px 10px;
  font-size: 0.85rem;
}

.resources-pos .item .text strong {
  display: block;
}

.resources-pos .dark {
  background: #f8f9fc;
}

.resources-pos .dark ul li {
  font-size: 0.9rem;
  color: var(--primary);
  cursor: pointer;
  margin: 15px 0;
  font-weight: bold;
}

.navbar-nav .nav-item {
  color: #8a8a8a;
  font-size: 14px;
  font-weight: normal;
}

.navbar-nav .blue-invert-btn,
.navbar-nav .orange-btn,
.navbar-nav .blue-btn {
  padding: 2px 15px;
  border-radius: 2px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff !important;
  border-bottom: 1px solid #eee;
  z-index: 9999;
  padding-top: 0;
  -webkit-transition: background 0.3s ease-in, border-bottom 0.3s ease 0.5s;
  -moz-transition: background 0.3s ease-in, border-bottom 0.3s ease 0.5s;
  -o-transition: background 0.3s ease-in, border-bottom 0.3s ease 0.5s;
  transition: background 0.3s ease-in, border-bottom 0.3s ease 0.5s;
}

.only-on-scroll-down {
  display: none;
}

.navbar-brand img {
  width: 180px;
}

@media screen and (max-width: 980px) {

  .hero-text h1 {
    font-size: 2rem;
  }

  .navbar-nav {
    background: #fff;
    padding: 10px;
    width: 225px;
  }
}

@media screen and (max-width: 550px) {

  .navbar-nav {
    width: inherit;
  }

  .navbar-brand img {
    width: 145px;
  }
}

