<header id="relatasNav">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/">
        <img src="assets/relatas_logo.png">
      </a>
      <button class="navbar-toggler" type="button" aria-controls="navbar-menu"
              aria-label="Toggle navigation" (click)="toggleMenu()" [attr.aria-expanded]="!menuHidden">
        <i class="fas fa-bars"></i>
      </button>
      <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
        <div class="navbar-nav ml-auto">
          <div class="dropdown">
            <a class="nav-item nav-link text-uppercase dropdown-toggle" data-toggle="dropdown">
              product
            </a>
            <div class="dropdown-menu resources-pos">
              <div class="row">
                <div class="col-md-8">
                  <p>SALES SUITE</p>
                  <div class="item">
                    <div class="dropdown-item scroll-top" routerLink="/sales-tools">
                      <div class="clearfix">
                        <div class="float-left icon">
                          <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_overview.png">
                        </div>
                        <div class="float-left text">
                          <strong>Overview</strong>
                          Enterprise sales teams love us
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="dropdown-item scroll-top" routerLink="/sales-forecast">
                      <div class="clearfix">
                        <div class="float-left icon">
                          <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_forecast.png">
                        </div>
                        <div class="float-left text">
                          <strong>Sales Forecasting</strong>
                          Enterprise sales forecasting with AI
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="dropdown-item scroll-top" routerLink="/document-sharing-and-analytics">
                      <div class="clearfix">
                        <div class="float-left icon">
                          <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_docmanage.png">
                        </div>
                        <div class="float-left text">
                          <strong>Document Insights</strong>
                          Securely share and track business documents
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="dropdown-item scroll-top" routerLink="/crm">
                      <div class="clearfix">
                        <div class="float-left icon">
                          <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_oppmanage.png">
                        </div>
                        <div class="float-left text">
                          <strong>Opportunity Insights</strong>
                          No-Data-Entry CRM
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="dropdown-item scroll-top" routerLink="/security">
                      <div class="clearfix">
                        <div class="float-left icon">
                          <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_security.png">
                        </div>
                        <div class="float-left text">
                          <strong>Security</strong>
                          Enterprise grade security
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 dark">
                  <p>MORE</p>
                  <ul class="list-unstyled">
                    <li class="for-scroll dropdown-item" routerLink="/dealroom">Deal Room <span class="new">NEW</span></li>
                    <li class="for-scroll dropdown-item" routerLink="/sales-ai">Sales AI</li>
                    <li class="for-scroll dropdown-item" routerLink="/sales-analytics">Sales Analytics</li>
                    <li class="for-scroll dropdown-item" routerLink="/team-management">Sales Team Management</li>
<!--                    <li routerLink="/crm-for-distributors-and-partners">Partners</li>-->
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <a class="nav-item nav-link scroll-top text-uppercase" routerLink="/pricing" routerLinkActive="active">
            <span>pricing</span>
          </a>
          <a class="nav-item nav-link scroll-top text-uppercase" routerLink="/company" routerLinkActive="active">
            <span>company</span>
          </a>
          <a class="nav-item nav-link scroll-top text-uppercase" routerLink="/sales-resources" routerLinkActive="active">
            <span>resources</span>
          </a>
<!--          <div class="dropdown">-->
<!--            <a class="nav-item nav-link text-uppercase dropdown-toggle" data-toggle="dropdown">-->
<!--              resources-->
<!--            </a>-->
<!--            <div class="dropdown-menu resources-pos">-->
<!--              <div class="row">-->
<!--                <div class="col-md-4">-->

<!--                  <div class="dropdown-item scroll-top" routerLink="/sales-ai">-->
<!--                    <strong>Sales AI</strong>-->
<!--                    <div>-->
<!--                      Understand how Artificial Intelligence can be used in sales-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                  <div class="dropdown-item scroll-top" routerLink="/case-studies">-->
<!--                    <strong>Case Studies</strong>-->
<!--                    <div>-->
<!--                      See how a company found more value in Relatas- Sales AI compared to the current market leader-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                  <div class="dropdown-item scroll-top" routerLink="/white-paper">-->
<!--                    <strong>White Paper</strong>-->
<!--                    <div>-->
<!--                      Download Relatas whitepaper and get a glimpse of what is happening-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="row">-->
<!--                <div class="col-md-4">-->
<!--                  <div class="dropdown-item scroll-top" routerLink="/use-cases">-->
<!--                    <strong>Relatas Round-up</strong>-->
<!--                    <div>-->
<!--                      Relatas newsletter to help you get an understanding of whats happening in Sales AI-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                  <div class="dropdown-item scroll-top" routerLink="/use-cases">-->
<!--                    <strong>Use Cases</strong>-->
<!--                    <div>-->
<!--                      See how different companies are powering their sales team with Artificial Intelligence-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                  <div class="dropdown-item scroll-top" href="https://blog.relatas.com/">-->
<!--                    <strong>-->
<!--                      Blog-->
<!--                    </strong>-->
<!--                    <div>-->
<!--                      Stay up-to-date on Relatas news and best practices for Sales AI-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
          <a class="nav-item nav-link text-uppercase" *ngIf="canBedisplayed()" target="_blank" (click)="redirectLogin()" href="https://app.relatas.com/">
            <span class="blue-invert-btn">login</span>
          </a>
          <a class="nav-item nav-link scroll-top text-uppercase" routerLink="/demo">
            <span class="blue-btn">REQUEST DEMO</span>
          </a>
          <!--<a class="nav-item nav-link scroll-top text-uppercase" (click)="logout()">-->
            <!--<span>Logout</span>-->
          <!--</a>-->
        </div>
      </div>
    </nav>
  </div>
</header>
