
.navbar {
  //margin-bottom: 1rem;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

nav {
  padding: 0;
}

header {
  padding-top: 10px;
  background: #d3dbe1;
}

.navbar-nav .nav-item {
  color: #8a8a8a;
  font-size: 14px;
  font-weight: bold;
}

.navbar-nav .orange-btn,
.navbar-nav .blue-btn {
  padding: 2px 15px;
  border-radius: 2px;
}

