<header id="relatasNav">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/">
        <img src="assets/relatas_logo.png">
      </a>
      <button class="navbar-toggler" type="button" aria-controls="navbar-menu"
              aria-label="Toggle navigation" (click)="toggleMenu()" [attr.aria-expanded]="!menuHidden">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link text-uppercase" routerLink="/product" routerLinkActive="active">
            <span>product</span>
          </a>
          <a class="nav-item nav-link text-uppercase" routerLink="/company" routerLinkActive="active">
            <span>company</span>
          </a>
          <a class="nav-item nav-link text-uppercase" href="https://blog.relatas.com/">
            <span>blog</span>
          </a>
          <div class="dropdown">
            <a class="nav-item nav-link text-uppercase dropdown-toggle" data-toggle="dropdown">
              resources - Sales AI
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/white-paper">White Paper</a>
              <a class="dropdown-item" routerLink="/case-studies">Case Studies</a>
              <a class="dropdown-item" routerLink="/use-cases">Use Cases</a>
              <a class="dropdown-item" routerLink="/ai-for-sales">Ai for Sales</a>
            </div>
          </div>
          <a class="nav-item nav-link text-uppercase" href="https://showcase.relatas.com/retail/signup">
            <span class="blue-invert-btn">login</span>
          </a>
          <a class="nav-item nav-link text-uppercase only-on-scroll-down" routerLink="/demo">
            <span class="orange-btn">REQUEST DEMO</span>
          </a>
          <!--<a class="nav-item nav-link text-uppercase" (click)="logout()">-->
            <!--<span>Logout</span>-->
          <!--</a>-->
        </div>
      </div>
    </nav>
  </div>
</header>
