.margin-r15 {
  margin-right: 15px !important;
}

.margin-r25 {
  margin-right: 25px !important;
}

.margin-l0 {
  margin-left: 0 !important;
}

.margin-t75 {
  margin-top: 75px !important;
}

.margin-t25 {
  margin-top: 25px;
}

.lite {
  color: var(--mid-gray);
}
