
<div class="position-relative">
  <div class="demo-bg">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-10 quote-wrapper">
              <div class="lite-grey-bg">
                <div class="relative" style="height: 85px">
                  <img class="profile" src="assets/website/vasant.jpg">
                  <img class="logo" src="assets/website/oracle.png">
                </div>
                <h5 class="text">
                  <span class="text-gray">"</span> Relatas enables me to manage my relationships
                  and interactions much <strong>more efficiently</strong> leading to increased effectiveness in my business operations. <span class="text-gray">"</span>
                </h5>
                <div>
                  <strong>Vasant Kumar</strong>
                  <p>Former Sr Director, Oracle</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="set-width">
            <h3 class="text-uppercase" style="margin: 4.5rem 0 1rem 0;">
              Download <span class="text-blue bold">Whitepaper</span>
            </h3>
            <div>
              <div>
                <input type="text" #fullName (keyup.enter)="fullName.value='' " placeholder="Enter full name" [ngStyle]="nameErrorExist?{'box-shadow': '0px 0px 3px orangered','border': '1px solid orange'}:''">
              </div>
              <div class="margintb25">
                <input type="text" #emailId (keyup.enter)="emailId.value='' " placeholder="Enter business email Id" [ngStyle]="errorMsg.errorExist?{'box-shadow': '0px 0px 3px orangered','border': '1px solid orange'}:''">
              </div>
              <div class="clearfix">

                <div>
                  <label>
                    <input type="checkbox" [(ngModel)]="agreeTerms" name="agreeTerms">
                    I agree to the <a (click)="showTerms = !showTerms" style="text-decoration:underline;">terms</a>
                    <p class="show-terms" *ngIf="showTerms">
                      By registering, you confirm that you agree to the storing and processing
                      of your personal data by Relatas as described in the Privacy Statement
                    </p>
                  </label>
                </div>
                <div>
                  <button  style="height: 35px;" class="btn btn-primary btn-md" *ngIf="!demoRequestSent" (click)="addlead(fullName.value,emailId.value)">
                    DOWNLOAD
                  </button>
                  <div class="btn btn-primary" *ngIf="demoRequestSent" style="height: 35px;text-align: center;background: transparent;color: var(--blue);border-color: var(--blue);font-size: 0.8rem;padding: 7px 10px;"><i class="fas fa-check"></i> Done</div>
                </div>
              </div>
            </div>

            <div class="error-popup" *ngIf="!errorMsg.pass">
              <div class="message">
                {{errorMsg.message}}

                <button (click)="closeError()">OK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about">
  <div class="container">
    <h1>ABOUT, <strong>Relatas</strong>
    </h1>
    <p>
      Relatas is an award winning Sales Intelligence product.
      <br>
      <br>

      Relatas is built by sales professionals for sales professionals. We apply Artificial Intelligence to solve some of the
      biggest challenges faced by most CRO, VP Sales, Sales Managers & Sales Reps. We know sales and are obsessed
      with making the sales professionals more successful by applying Artificial Intelligence to solve their problems.
      Relatas makes sense of the data thats readily available and using cognitive technology helps sales professionals sell
      better and faster.
      <br>
      <br>
      We are on a mission to make sales professionals successful by transforming the way they view data, sell, make
      decisions, and grow.
    </p>
  </div>
</div>

