<div style="margin: 8rem 0 0 0;">

  <div class="margintb25">
    <div class="container">
      <h1 class="text-center text-uppercase" style="margin: 1.5rem 0 1.75rem 0;">
        WHY RELATAS
      </h1>

      <p>
        Making sales teams successful. #DoSales.

        <br><br>
        The biggest challenge that most CEO, CRO, VP Sales, Sales Reps face today is  unpredictable sales forecasting. This happens mainly due to no-data or worse, bad data in the CRM. Commit call are more of a status call, Sales reps hate entering data into CRMs leading to limited visibility for management and limited to no insights for sales reps.
<br><br>With No-Data-Entry CRM, Relatas pulls in authentic data. We apply Artificial Intelligence to solve one of the biggest challenge - Sales Forecasting.
<br><br>Relatas is used by professionals from Enterprises, mid-sized companies to startups.
<br><br>Relatas is built by sales professionals for sales professionals.
<br><br>We know sales and are obsessed with making the sales professionals more successful by applying Artificial Intelligence to solve their problems. With so much information overload, Relatas makes sense of the data thats readily available and uses cognitive technology to make sense of that data to helps sales professionals sell better and faster.

      </p>
    </div>
  </div>

  <div class="margintb25">
    <div class="container">
      <h1 class="text-center text-uppercase" style="margin: 1.5rem 0 1.75rem 0;">
        WHERE DID IT START
      </h1>

      <p>
        Relatas was founded by Sudip, who led teams for 20 years across 4 continents. Relatas is Sudip's life-story. Having experienced, first hand, the challenges of sales forecast where his sales team won't enter details in their existing CRM's thus leading to challenges in Sales Forecasting. Thus started the journey to build one of its kind No-Data-Entry CRM focusing on Sales Forecasting. Along the way, Sudip was joined by some of the most exciting minds in the industry. Robby who was leading Solution Consulting for Amazon in India and London, joined hands with Sudip to build the best AI solution in sales.
<br><br>
        Since its founding in 2015, Relatas has been one of the most-impactful enterprise SaaS companies and has office in Fremont, USA and development team in Bangalore, India.
        We pride ourselves in having a culture that blends fun and learning with impactful work. And we firmly believe that customer relationship starts with happy team. Passionate, Ownership driven teams, when given the freedom to execute bedded in a culture of learning, create impact and change the world for the better.

      </p>
    </div>
  </div>

  <div id="mission" class="text-center">
    <h1 class="text-uppercase">
        global footprint and mission
    </h1>

    Make sales professionals successful by transforming the way they visualise data, make decisions, sell <br>
    and grow revenue.

    <br>
    <br>
Professionals from 1000+ global companies from 300+ global cities rely on Relatas
  </div>

  <div class="container">
    <h1 class="text-center" style="margin: 2rem 0 2rem 0;">WE<strong class="text-blue"> BELIEVE</strong></h1>
    <div class="row believe">
      <div class="col-md-4">
        <div>
        <h5 class="bold">1</h5>
        <p>Given the right data at the right time, CXOs can do better sales forecast
        </p>
        </div>
      </div>

      <div class="col-md-4">
        <div>
        <h5 class="bold">2</h5>
        <p>
          Given the right visibility, Sales Managers can play a greater role in sales reps performance

        </p>
        </div>
      </div>

      <div class="col-md-4">
        <div>
        <h5 class="bold">3</h5>
        <p>Being able to plan our own day with AI based insights, can help improve sales rep productivity
        </p>
        </div>
      </div>

    </div>
    <div class="row believe">
      <div class="col-md-4">
        <div>
        <h5 class="bold">4</h5>
        <p>
          Sales is a team play, rather than an individual plan. You play as a team and win as a team
        </p>
        </div>
      </div>

      <div class="col-md-4">
        <div>
        <h5 class="bold">5</h5>
        <p>
          “Rule-based” sales systems don’t leverage AI to impact individual sales personalities
        </p>
        </div>
      </div>

      <div class="col-md-4">
        <div>
        <h5 class="bold">6</h5>
        <p>

          Sales is a not a one-time activity but an lifelong relationship building process
        </p>
        </div>
      </div>

    </div>
  </div>

</div>
<div>
  <div class="container intro-two margintb25"                                                                                                                                           id="team">
    <h1 class="text-center" style="margin: 3rem 0;">
      Management Team
    </h1>
    <div class="row">
      <div class="col-md-4">
        <div class="col-box bg-grey-litest">
          <img src="assets/website/sudip.jpg" class="pos-abs-company">
          <div class="profile-section clearfix">
            <img src="assets/website/sudip.jpg" style="visibility: hidden;" class="sec-left">
            <div class="sec-left">
              <h2>Sudip Dutta</h2>
              <h3>Founder & CEO</h3>
            </div>
          </div>
          <div class="profile-about">
            Sudip founded Relatas in 2015, and as the CEO, has been setting the vision and direction for the company since inception. Sudip spent close to 2 decades with fast-growing businesses across 4 continents. Co-founded 2 companies, worked on entire product development of a CRM system for a Billion dollar organization. Sudip loves working with Internet, mobile and software ventures. He is a TEDx speaker and an invited speaker to Business Schools and entrepreneurship forums.

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-box bg-grey-litest">
          <img src="assets/website/sumit.jpg" class="pos-abs-company">
          <div class="profile-section clearfix">
            <img src="assets/website/sumit.jpg" style="visibility: hidden;" class="sec-left">
            <div class="sec-left">
              <h2>Sumit Rampal</h2>
              <h3>Head Designer, Founding Team Member</h3>
            </div>
          </div>
          <div class="profile-about">
            Sumit is a Creative / Art Director, Designer, and Information Architect with 15+ years of industry experience in all things Digital but specialising in Digital Creatives and User Experience. He loves to create high impact designs for both online and offline mediums by using my rich experience gained while working in setups ranging from small startups to multinational agencies and companies.

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-box bg-grey-litest">
          <img src="assets/website/sumit.jpg" class="pos-abs-company">
          <div class="profile-section clearfix">
            <img src="assets/website/sumit.jpg" style="visibility: hidden;" class="sec-left">
            <div class="sec-left">
              <h2>Robby Thomas
              </h2>
              <h3>VP Technology & AI</h3>
            </div>
          </div>
          <div class="profile-about">
            Sumit is a Creative / Art Director, Designer, and Information Architect with 15+ years of industry
            experience in all things Digital but
            specialising in Digital Creatives and User Experience. He loves to create high impact designs for
            both online and offline mediums by
            using my rich experience gained while working in setups ranging from small startups
            to multinational agencies and companies.
          </div>
        </div>
      </div>
    </div>

    <h1 class="text-center" style="margin: 0 0 3rem 0;">
      Advisors
    </h1>

    <div class="row">
      <div class="col-md-4">
        <div class="col-box bg-grey-litest">
          <img src="assets/website/rajani.jpg" class="pos-abs-company">
          <div class="profile-section clearfix">
            <img src="assets/website/rajani.jpg" style="visibility: hidden;" class="sec-left">
            <div class="sec-left">
              <h2>Rajani Ramanathan</h2>
              <h3>Advisor</h3>
              <p>Former COO, Technology & Products - Salesforce</p>
            </div>
          </div>
          <div class="profile-about">
            We have information overload today, with so many tools and social sites that we need to keep up with.
            It is overwhelming to separate out what is relevant and prioritize accordingly.
            I like how <strong>Relatas</strong> seamlessly works with the tools I already use and uses cognitive
            technology to help me keep on top of what is time critical!
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-box bg-grey-litest">
          <img src="assets/website/gaurav.jpg" class="pos-abs-company">
          <div class="profile-section clearfix">
            <img src="assets/website/gaurav.jpg" style="visibility: hidden;" class="sec-left">
            <div class="sec-left">
              <h2>Gaurav Rastogi</h2>
              <h3>Advisor</h3>
              <p>Former VP Sales, Infosys</p>
            </div>
          </div>
          <div class="profile-about">
            Steve Jobs thought computers were a bicycle for our minds, allowing human power to be amplified efficiently.
            I'm excited about <strong>Relatas</strong>, because now AI can finally help us be better at the most human of all things - social relationships.
            Our natural talent as a social species is amplified many times over through the use of artificial intelligence.
            For a sales professional, there's nothing more rewarding than to have more power to their networks.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-box bg-grey-litest">
          <img src="assets/website/vasant.jpg" class="pos-abs-company">
          <div class="profile-section clearfix">
            <img src="assets/website/vasant.jpg" style="visibility: hidden;" class="sec-left">
            <div class="sec-left">
              <h2>Vasant Kumar</h2>
              <h3>Advisor</h3>
              <p>Former Sr Director - Oracle</p>
            </div>
          </div>
          <div class="profile-about">
            Enhancing and nurturing relationships are critical aspects of today's hyperconnected world.
            This has become a challenge given the advent of newer paradigms, tools, mechanisms and preferences.<br>
            <strong>Relatas</strong> enables me to manage my relationships and interactions much more efficiently
            leading to increased effectiveness in my business operations.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="intro-three margintb25" id="awards">
    <div class="container">
      <h1>AWARDS</h1>
      <div class="row">
        <div class="col-md-2">
          <img src="assets/website/google.png">
        </div>
        <div class="col-md-2">
          <img src="assets/website/chile.png">
        </div>
        <div class="col-md-2">
          <img src="assets/website/1000st.png">
        </div>
        <div class="col-md-2">
          <img src="assets/website/techsparks.png">
        </div>
        <div class="col-md-2">
          <img src="assets/website/hot100.png">
        </div>
        <div class="col-md-2">
          <img src="assets/website/NBI.png">
        </div>
      </div>

    </div>
  </div>

  <div class="container intro-four margintb25" id="media">
    <h1 class="text-center">Relatas in Media</h1>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <div class ='inner-img-v-align'>
          <img src="assets/mailer/bwdisrupt-logo_1.jpg" alt="businessworld"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class ='inner-img-v-align'>
          <img src="assets/mailer/Logo_YourStory.png" alt="Logo_YourStory"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class ='inner-img-v-align'>
          <img src="assets/mailer/Logo_TOI.png" alt="Logo_TOI"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class ='inner-img-v-align'>
          <img src="assets/mailer/Logo_BS.png" alt="Logo_BS"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class ='inner-img-v-align'>
          <img src="assets/mailer/Logo_TechInAsia.png" alt="Logo_TechInAsia"/>
        </div>
      </div>

    </div>
  </div>

  <div class="box">
    <div class="container text-center">
      <h1 class=" text-blue">#moreSales</h1>
      <h2>
        Are you ready to successfully forecast?
      </h2>
      <p>Use data to stop guessing and start selling. Nothing to install. Go live in 15 minutes</p>
      <div class="btns-grp-wrapper">
        <button class="btn btn-primary font-weight-bold" routerLink="/demo">REQUEST DEMO</button>
        <button class="btn btn-outline-primary font-weight-bold text-uppercase" routerLink="/demo">See it in action</button>
      </div>
    </div>
  </div>

</div>
