<div class="text-center" id="company">
</div>
<div class="margintb25">
  <div class="container">
    <h1 class="text-center">COMPANY</h1>
    <p class="text-center">
      Relatas is an award winning Sales Intelligence product.
    </p>
    <p class="text-center">
      Relatas is built by sales professionals for sales professionals.
      The biggest challenge that most CEO, CRO, VP Sales, Sales Reps face today are unpredictable forecasting,
      bad data in the CRM, commit call are more of a status call, Sales reps hate entering data into CRMs leading
      to limited visibility for management and limited to no insights for sales reps.
      We apply Artificial Intelligence to solve some of the biggest challenges in Sales.
      We know sales and are obsessed with making the sales professionals more successful by
      applying Artificial Intelligence to solve their problems. With so much information overload,
      Relatas makes sense of the data thats readily available and uses cognitive technology to make sense of that data
      to helps sales professionals sell better and faster.
    </p>
    <h3 class="text-center">Mission: Make sales professionals successful by transforming the way they view data, sell,
      make decisions, and grow.</h3>
    <h4>
      Here is how we are making sales easier for Sales Reps and give visibility with
      authentic data to CEO/ CRO/ VP Sales and Sales Reps.
    </h4>
    <ul>
      <li>CEO/ CRO/ VP Sales - As the CEO/ CRO/ VP Sales, you have to make sure that the commitments you have made to
        the markets/ investors are met. Maximise and grow your revenue while delivering best customer
        experience to your customers.
      </li>
      <li>Sales Manager Success - As a sales leader, spot pipeline risk & drive more revenue by
        analysing right and authentic data. Relatas helps you ask the right questions and provides you
        the data you need. Move from 1-0-1 weekly status calls (commit calls) to 1-0-1 strategy calls.
        Make your commit calls more effective.
      </li>
      <li>
        Sales Rep Success - Be more productive & close deals faster by automating data entry into CRM.
        Relatas Artificial Intelligence Engine understands how you close deals and predicts how likely
        are you to meet your targets and suggests ways to meet your numbers.
      </li>
    </ul>
  </div>
</div>
<div class="container intro-two margintb25" id="team">
  <h1 class="text-center" style="margin-bottom: 2rem;">TEAM and ADVISORS</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="profile-section clearfix">
        <img src="assets/website/sudip.jpg" class="sec-left">
        <div class="sec-left">
          <h2>Sudip Dutta</h2>
          <h3>Co-founder & CEO</h3>
        </div>
      </div>
      <div class="profile-about">
        Sudip founded Relatas in 2015, and as the CEO, has been setting the vision and direction for the company since inception.
        Sudip spent close to 2 decades with fast-growing businesses across 4 continents.
        Co-founded 2 companies, worked on entire product development of a CRM system for a Billion dollar organization.
        Sudip loves working with Internet, mobile and software ventures.
        He is a TEDx speaker and an invited speaker to Business Schools and entrepreneurship forums.
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-section clearfix">
        <img src="assets/website/sumit.jpg" class="sec-left">
        <div class="sec-left">
          <h2>Sumit Rampal</h2>
          <h3>Co-Founder</h3>
        </div>
      </div>
      <div class="profile-about">
        Sumit is a Creative / Art Director, Designer, and Information Architect with 15+ years of industry experience in all things Digital but
        specialising in Digital Creatives and User Experience. He loves to create high impact designs for both online and offline mediums by
        using my rich experience gained while working in setups ranging from small startups to multinational agencies and companies.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="profile-section clearfix">
        <img src="assets/website/rajani.jpg" class="sec-left">
        <div class="sec-left">
          <h2>Rajani Ramanathan</h2>
          <h3>Advisor</h3>
          <p>Former COO(EVP) of Technology & Products</p>
          <h4>Salesforce</h4>
        </div>
      </div>
      <div class="profile-about">
        We have information overload today, with so many tools and social sites that we need to keep up with.
        It is overwhelming to separate out what is relevant and prioritize accordingly.
        I like how <strong>Relatas</strong> seamlessly works with the tools I already use and uses cognitive technology to help me keep on top of what is time critical!
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-section clearfix">
        <img src="assets/website/gaurav.jpg" class="sec-left">
        <div class="sec-left">
          <h2>Gaurav Rastogi</h2>
          <h3>Advisor</h3>
          <p>President</p>
          <h4>Nagarro</h4>
        </div>
      </div>
      <div class="profile-about">
        Steve Jobs thought computers were a bicycle for our minds, allowing human power to be amplified efficiently.
        I'm excited about <strong>Relatas</strong>, because now AI can finally help us be better at the most human of all things - social relationships.
        Our natural talent as a social species is amplified many times over through the use of artificial intelligence.
        For a sales professional, there's nothing more rewarding than to have more power to their networks.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="profile-section clearfix">
        <img src="assets/website/vasant.jpg" class="sec-left">
        <div class="sec-left">
          <h2>Vasant Kumar</h2>
          <h3>Advisor</h3>
          <p>Former Sr Director</p>
          <h4>Oracle</h4>
        </div>
      </div>
      <div class="profile-about">
        Enhancing and nurturing relationships are critical aspects of today's hyperconnected world.
        This has become a challenge given the advent of newer paradigms, tools, mechanisms and preferences.<br>
        <strong>Relatas</strong> enables me to manage my relationships and interactions much more efficiently leading to increased effectiveness in my business operations.
      </div>
    </div>
  </div>
</div>

<div class="intro-three margintb25" id="awards">
  <div class="container">
    <h1>AWARDS</h1>
    <img src="assets/website/awards.jpg">
  </div>
</div>

<div class="container intro-four margintb25" id="media">
  <h1 class="text-center">Relatas in Media</h1>
  <div class="row">
    <div class="col-md-2">
      <div class ='inner-img-v-align'>
        <img src="assets/mailer/bwdisrupt-logo_1.jpg" alt="businessworld"/>
      </div>
    </div>
    <div class="col-md-8">
      <h2 class="normal fs23 text-left">Relatas Is Like Google Now For Sales People</h2>
      Relatas stays on top of your interactions to tell you who you are losing touch with and gives you insights to re-connect back. Relatas tells you every morning which important mails you need to respond to…Relatas AI builds the mail for you so that you don’t have to put the effort to type or personalize each individual mail.
      <br>
      <a href="http://bwdisrupt.businessworld.in/article/Relatas-Is-Like-Google-Now-For-Sales-People/09-01-2017-111008/" class="know-more" target="_blank">Read Full Article</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class ='inner-img-v-align'>
        <img src="assets/mailer/Logo_YourStory.png" alt="YourStory"/>
      </div>
    </div>
    <div class="col-md-8">
      <h2 class="normal fs23 text-left">How Relatas aims to be Google Now for professional relationships</h2>
      “The most common mistake people make when building relationships for success is treating business contacts differently than personal friends,” notes Keith Ferrazzi.
      <br>
      <a href="https://yourstory.com/2016/11/relatas-growth-story/" class="know-more" target="_blank">Read Full Article</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class ='inner-img-v-align'>
        <img src="assets/mailer/Logo_TOI.png" alt="TimesOfIndia"/>
      </div>
    </div>
    <div class="col-md-8">
      <h2 class="normal fs23 text-left">Google to mentor startups in India</h2>

      Launchpad is a five-day intensive mentoring programme for early-stage startups focused on areas including product strategy , user experience and user interface, technology, and go-to-market. The mentors will be available to the startups for another three months for consultation.Google has shortlisted 20 startups for its first edition, from 1,450 applications it received last year. Some 18 out of the 20 selected startups are based out of Bengaluru, and 28% of the applicants were from the city. So we want to focus on Bengaluru, which is clearly emerging as the next Silicon Valley, said Sunil Rao, country head of the startup programme in Google India.
      <br>
      <a href="http://timesofindia.indiatimes.com/tech/tech-news/Google-to-mentor-startups-in-India/articleshow/46105622.cms" class="know-more" target="_blank">Read Full Article</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class ='inner-img-v-align'>
        <img src="assets/mailer/Logo_BS.png" alt="BusinessStandard">
      </div>
    </div>
    <div class="col-md-8">
      <h2 class="normal fs23 text-left">Google steps on the gas for start-up engagements in India</h2>

      In the first edition, the programme includes 20 Indian start-ups, which have been shortlisted from more than 1,450 applications. These companies include those in the business-to-consumer and business-to-business space, and most are focused on a mobile-first strategy.
      <br>
      <a href="http://www.business-standard.com/article/technology/google-steps-on-the-gas-for-start-up-engagements-in-india-115020201201_1.html" class="know-more" target="_blank"> Read Full Article</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class ='inner-img-v-align'>
        <img src="assets/mailer/Logo_ET.png" alt="EconomicTimes">
      </div>
    </div>
    <div class="col-md-8">
      <h2 class="normal fs23 text-left">Google turning focus on Indian startups; to kickstart mentorship programme Launchpad in 2015</h2>

      After testing its start-up mentor programme in Israel, search giant Google is now turning its focus on Indian startups. The company has picked India to kick-start its start-up mentorship programme Launchpad this year, signalling its growing interest in Indian start-ups.
      <br>
      <a href="http://articles.economictimes.indiatimes.com/2015-02-03/news/58751898_1_google-india-launchpad-indian-startups" class="know-more" target="_blank"> Read Full Article</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class ='inner-img-v-align'>
        <img src="assets/mailer/Logo_YourStory.png" alt="YourStory">
      </div>
    </div>
    <div class="col-md-8">

      <h2 class="normal fs23 text-left">Relatas.com uses business intelligence to help companies and individuals better manage schedules and document tracking</h2>

      Relatas is a hybrid of sorts of LinkedIn and Google+ for business or personal meetings and document sharing. It provides intelligence about the important aspects that are needed to maintain a relationship and schedule meeting through smart calendars and intelligent page level document tracking. 'For example, imagine a situation where you are about to meet your contact at 2 pm over lunch and you receive a mail from Relatas giving you details about the contact, common connections, work history, school history and his or her latest tweet' explains Sudip.
      <br>
      <a href="http://yourstory.com/2014/12/relatas/" class="know-more" target="_blank"> Read Full Article</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class ='inner-img-v-align'>
        <img src="assets/mailer/Logo_TechInAsia.png" alt="TechInAsia">
      </div>
    </div>
    <div class="col-md-8">
      <h2 class="normal fs23 text-left">Meet 3 cool Indian startups picked for Start-Up Chiles latest batch</h2>

      Start-Up Chile is an ambitious accelerator program started by the Chilean government in 2010 to transfrom the country into the innovation hub of Latin America. They were brought to Chile, given US$40,000 of equity-free seed capital, and granted a six-month visa to develop their projects. In the latest batch there are 100 startups picked from 25 countries all around the globe, including these early-stage, high-potential bootstrappers from India. Relatas, this Bangalore-based startup built an innovative business relationship product: a smart calendar with intelligent document tracking.
      <br>
      <a href="https://www.techinasia.com/3-cool-indian-startups-at-startup-chile/" class="know-more" target="_blank"> Read Full Article</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class ='inner-img-v-align'>
        <img src="assets/mailer/Logo_ET.png" alt="EconomicTimes">
      </div>
    </div>
    <div class="col-md-8">
      <h2 class="normal fs23 text-left">Young companies head to Startup Chile incubator, India has a big role to play</h2>

      Out of a record-breaking 2,448 applications from across the world for the programme's 12th batch, the startups selected from India include data journalism company Pykih, audience engagement platform WizEngage and business relationship intelligence firm Relatas.
      <br>
      <a href="http://articles.economictimes.indiatimes.com/2014-12-16/news/57112578_1_indian-startups-google-glass-programme" class="know-more" target="_blank"> Read Full Article</a>
    </div>
  </div>
</div>

<div class="bg-img-company-3 text-center">
  <div class="bg-img-company-3-text">
    <h1 class="page-title down-arr-offset">Relatas, helps you<br>
      build better relationships and win faster.</h1><br>
    <br>
    <div class="text-center">
      <button class="btn teal-btn font-weight-bold btn-lg" routerLink="/demo">request a demo</button>
    </div>
  </div>
</div>
