<div class="position-relative">
  <div class="demo-bg">
    <div class="container">
      <div *ngIf="fromDemo">
        <div class="text-center">
          <h1>
            Congratulations !
          </h1>
          <p>
            You are one step closer to growing your business with Relatas.
          </p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img style="margin-top: 5rem;" src="assets/hero/img_thankyou_extra.png">
          </div>
          <div class="col-md-6">
            <h2>Check your email
            </h2>
            <p>
              We are getting ready to create your personalized demo. In your inbox you ‘ll find a mail from Relatas to schedule your Demo Kick-Off call.
            </p><p>
              Look forward to meeting you and setting you up for success.
          </p><p>
              Relatas Team.
            </p>
            <div>
              <h2>
                What will you cover in the Demo?
              </h2>
              <p>
                We will connect you with a product specialist to give you a full service demo.
              </p><p>
                With a few quick discovery questions about your business and goals, we’ll personalize your demo in just a few minutes.
            </p><p>
                We’ll answer any questions you may have and show you how Relatas works for your unique business.

              </p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!fromDemo">
        <div class="text-center">
          <img style="width:45%" src="assets/hero/img_thankyou_extra.png">
          <h1 style="margin-top: 2rem;">
            Congratulations !
          </h1>
          <p>
            You took the right step to grow your business. The document link has been sent to your email id.
          </p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-10 quote-wrapper">
                <div class="lite-grey-bg">
                  <div class="relative" style="height: 85px">
                    <img class="profile" src="assets/website/rajani.jpg">
                  </div>
                  <h5 class="text">
                    <span class="text-gray">"</span>
                    We have information overload today, with so many tools and social sites that we need to keep up with.
                    It is overwhelming to separate out what is relevant and prioritize accordingly.
                    I like how <strong>Relatas</strong> seamlessly works with the tools I already use and uses cognitive
                    technology to help me keep on top of what is time critical!
                    <span class="text-gray">"</span>
                  </h5>
                  <div>
                    <strong>Rajani Ramanathan</strong>
                    <p>Former COO, Technology & Products - Salesforce</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <h1>
              Would you be interested in a FREE CUSTOMISED DEMO for your sales team?
            </h1>
            <button class="btn btn-primary font-weight-bold" routerLink="/demo">YES! Sign me up for the demo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="fromDemo" class="about">
  <div class="container">
    <h1 style="margin-top: 2rem;">ABOUT, <strong>Relatas</strong>
    </h1>
    <p>
      Relatas is an award winning Sales Intelligence product.
      <br>
      <br>

      Relatas is built by sales professionals for sales professionals. We apply Artificial Intelligence to solve some of the
      biggest challenges faced by most CRO, VP Sales, Sales Managers & Sales Reps. We know sales and are obsessed
      with making the sales professionals more successful by applying Artificial Intelligence to solve their problems.
      Relatas makes sense of the data thats readily available and using cognitive technology helps sales professionals sell
      better and faster.
      <br>
      <br>
      We are on a mission to make sales professionals successful by transforming the way they view data, sell, make
      decisions, and grow.
    </p>
  </div>
</div>
