
<div class="position-relative" style="padding-bottom: 10rem;">
  <div class="demo-bg">
    <div class="container">
      <div>
        <h1 style="margin-top:6rem;margin-bottom:4rem;text-align: center">
          You are about to take the first step to predictably grow your business.
        </h1>
        <p>
          Points that we will cover in the Relatas Personalized Demo:

        </p>
        <ol>
          <li>
            How does Relatas No-Data-Entry CRM work?</li>
          <li>
            How does Relatas AI engine forecast</li>
          <li>
            How does Relatas - Sales AI auto-creates opportunities</li>
          <li>
            How to create Quotations/ Proposal and track with page level analytics
          </li>

        </ol>
        We’ll Also answer any questions you may have and show you how Relatas works for your unique business.

      </div>

      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-10 quote-wrapper">
              <div class="lite-grey-bg">
                <div class="relative" style="height: 85px">
                  <img class="profile" src="assets/website/rajani.jpg">
                  <img class="logo" src="assets/website/salesforce.png" style="width: 55px;">
                </div>
                <h5 class="text">
                  <span class="text-gray">"</span> I like how Relatas <strong>seamlessly works with the tools</strong> I
                  already use and uses cognitive technology to help me keep on top of what is time critical! <span class="text-gray">"</span>
                </h5>
                <div>
                  <strong>Rajani Ramanathan</strong>
                  <p>Former COO, Technology & Products, Salesforce</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="set-width">

            <h3 class="text-uppercase" style="margin: 2.5rem 0 1rem 0;">
              Request a <span class="text-blue bold">CUSTOMIZED DEMO</span>
            </h3>

            <div>
              <div>
                <input type="text" #fullName (keyup.enter)="fullName.value='' " placeholder="Enter full name" [ngStyle]="nameErrorExist?{'box-shadow': '0px 0px 3px orangered','border': '1px solid orange'}:''">
              </div>
              <div class="margintb25">
                <input type="text" #emailId (keyup.enter)="emailId.value='' " placeholder="Enter business email Id" [ngStyle]="errorMsg.errorExist?{'box-shadow': '0px 0px 3px orangered','border': '1px solid orange'}:''">
              </div>
              <div class="margintb25">
                <input type="text" #phoneNumber (keyup.enter)="phoneNumber.value='' " placeholder="Enter phone number" [ngStyle]="errorMsg.errorExist?{'box-shadow': '0px 0px 3px orangered','border': '1px solid orange'}:''">
              </div>
              <div class="margintb25">
                <input type="text" #website (keyup.enter)="website.value='' " placeholder="Enter website address" [ngStyle]="errorMsg.errorExist?{'box-shadow': '0px 0px 3px orangered','border': '1px solid orange'}:''">
              </div>
              <div class="margintb25">
                <input type="text" #designation (keyup.enter)="designation.value='' " placeholder="Enter designation" [ngStyle]="errorMsg.errorExist?{'box-shadow': '0px 0px 3px orangered','border': '1px solid orange'}:''">
              </div>
              <div class="clearfix">
                <div>
                  <label>
                    <input type="checkbox" [(ngModel)]="agreeTerms" name="agreeTerms">
                    I agree to the <a (click)="showTerms = !showTerms" style="text-decoration:underline;">terms</a>
                    <p class="show-terms" *ngIf="showTerms">
                      By registering, you confirm that you agree to the storing and processing
                      of your personal data by Relatas as described in the Privacy Statement
                    </p>
                  </label>
                </div>
                <div>
                  <button  style="height: 35px;" class="btn btn-primary btn-md" *ngIf="!demoRequestSent" (click)="addlead(fullName.value,emailId.value,phoneNumber.value,website.value,designation.value)">
                    REQUEST FOR DEMO
                  </button>
                  <div class="btn btn-primary" *ngIf="demoRequestSent" style="height: 35px;text-align: center;background: transparent;color: var(--blue);border-color: var(--blue);font-size: 0.8rem;padding: 7px 10px;"><i class="fas fa-check"></i> Done</div>
                </div>
              </div>
            </div>

            <div class="error-popup" *ngIf="!errorMsg.pass">
              <div class="message">
                {{errorMsg.message}}

                <button (click)="closeError()">OK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
