.demo-bg {
  border-top: 1px solid #eee;
  background: #d3dbe1 url(assets/website/img_testimonial.jpg) no-repeat top right;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  //min-height: 535px;
  padding-top: 5%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 68px;
}

.demo-bg h2 {
  font-size: 1.55rem;
  margin-bottom: 2rem;
}

.demo-bg input {
  display: block;
  margin: .5rem 0;
  width: 45%;
  height: 35px;
}

.right-fixed-md {
  position: fixed;
  right: 0;
  padding: 0;
  text-align: right;
}
