@import "../../sass/_hacks";

.demo-bg {
  border-top: 1px solid var(--gray-200);
  margin-top: 5%;
}

.demo-bg h2 {
  font-size: 1.55rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.demo-bg input[type="text"] {
  height: 35px;
  width: 100%;
  border: 1px solid var(--blue);
}

.set-width {
  width: 75%;
  text-align: center;
  margin: auto;

  button {
    width: 100%;
  }
}

.right-fixed-md {
  position: fixed;
  right: 0;
  padding: 0;
  text-align: right;
}

.demo-bg .form-group textarea {
  display: block;
  width: 45%;
}

.demo-bg .form-group label {
  margin: 0.75rem 0 0 0;
}

.demo-bg .form-group input {
  margin: 0 0 0 0;
}

.right-fix-img {
  position: absolute;
  right: 0;
  z-index: -9;
}

.about {
  background: var(--blue);
  color: #fff;
  padding: 25px;
}

#relatasNav {
  border-bottom: 1px solid #ccc;
}

.demo-bg ul li {
  margin: 15px 0;
}

.margin-l0 {
  margin-left: 0 !important;
}

.margin-t75 {
  margin-top: 75px !important;
}

.fa-angle-right {
  margin-right: 7px;
  color: var(--gray550);
}

.demo-bg .bottom {
  padding: 25px 0;
}

.demo-bg .bottom button {
  width: 160px;
  height: 100%;
  font-size: 0.8rem;
  color: var(--orange);
  background: #fff !important;
}

.demo-bg .quote-wrapper {
  padding-top: 75px;
}

.demo-bg .quote-wrapper .text strong {
  color: var(--blue);
  //color: #fff;
  //padding: 0 5px;
}

.demo-bg .quote-wrapper .lite-grey-bg {
  min-height: 350px;
  padding: 0 25px;
}

.demo-bg .quote-wrapper .profile {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 55%;
  position: absolute;
  top: 30px;
  left: 30px;
  border: 2px solid #fff;
}

.demo-bg .quote-wrapper .logo {
  width: 125px;
  position: absolute;
  top: 85px;
  left: 135px;
}

.demo-bg .quote-wrapper .text {
  margin-bottom: 15px;
  color: var(--mid-gray);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.45; /* Firefox */
}

@media screen and (max-width: 780px) {

  .demo-bg .quote-wrapper .lite-grey-bg {
    padding: 0 10px;
    min-height: 240px;
    margin-bottom: 25px;
  }

  .demo-bg .quote-wrapper .lite-grey-bg div {
    height: 55px !important;
  }

  .demo-bg .quote-wrapper .lite-grey-bg h5 {
    font-size: 0.9rem;
  }

  .demo-bg .quote-wrapper .lite-grey-bg .profile {
    width: 55px;
    height: 55px;
    top: 50px;
    left: 20px;
  }

  .demo-bg .quote-wrapper .lite-grey-bg .logo {
    width: 65px;
    left: 75px;
  }

  .demo-bg {
    margin-top: 10%;
  }

  .demo-bg .offset-1 {
    margin-left: 0;
  }

  .demo-bg input {
    margin-bottom: 8px;
  }

  .demo-bg .orange-btn {
    width: 100% !important;
  }

  .set-width {
    width: 100%;
  }
}

