<div class="position-relative">
  <div class="demo-bg">
    <div class="container">

      <div class="right-fix-img">
        <img src="assets/website/img_testimonial.jpg">
      </div>

      <div class="row">
        <div class="col-7" [hidden]="demoRequested">
          <h2>
            <strong>Powered by Artificial Intelligence</strong>,<br>
            Relatas eliminates the blind spots, improves predictability<br> and shows
            the entire sales team where to focus to close<br> more business, faster.
          </h2>
          <h2>

            Sell with <strong>NO-INTERACTION-DATA-ENTRY</strong>,
            and<br> <strong>NO-CHANGE</strong> in behavior.
          </h2>

          <input class="margin-l0" type="text" placeholder="Full name">
          <input class="margin-l0" type="email" placeholder="Business Email ID">
          <button class="teal-btn btn-lg font-weight-bold margin-l0" (click)="submitDemoRequest()">request a demo</button>
        </div>
        <div class="col-7" [hidden]="!demoRequestSent">
          <h3 class="font-weight-bold" style="margin-bottom: 1rem;">
            Thanks for requesting a Demo!
          </h3>
          <h4>
            To help you provide a customisable demo,<br>
            please fill out this survey.
          </h4>

          <div class="form-group">
            <label>Company</label>
            <input type="text">
            <label>Company Size</label>
            <input type="text">
            <label>Business type</label>
            <input type="text">
            <label>Phone number</label>
            <input type="text">
            <label>Company Website</label>
            <input type="text">
            <label>What problem do you face while selling?</label>
            <textarea></textarea>
          </div>
          <button class="margin-l0 teal-btn btn-lg font-weight-bold" routerLink="https://angular.io/guide/ajs-quick-reference">
            personalise your demo
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
