
<div id="sales-ops">
</div>

<div class="margintb25">

  <div class="container">
    <h3 class="text-center text-uppercase bold" style="margin: 1.5rem 0 1.75rem 0;">
      <span class="text-blue">Forecast </span> Management
    </h3>

    <p class="text-center">
      Move away from spreadsheets. Leverage Relatas Artificial Intelligence to forecast your pipeline with confidence.
    </p>
    <div class="row roles">
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Forecast accurately with real-time data</strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>
              Verify your intuition about a deal with Relatas Insights
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Continuously learn from deal patterns to increase accuracy of your forecast
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Real-time signals based on artificial intelligence  from opportunities help increasing accuracy in scoring.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Every Sales professional is unique</strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>
              Relatas adapts itself to each sales professionals selling patterns and predicts their individual forecast.
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Improve your sales forecast with the power of Artificial Intelligence.
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Deal probability scores help you know if your team is working on the right opportunities
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Each deal is different </strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>

              Forecast accurately irrespective of deal type. Your forecast gets automatically updated when facts change.

            </li>
            <li>
              <i class="fas fa-angle-right"></i>

              Understand the deals-at-risk for each deal, ahead of time.

            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Relatas gives you the best case scenario for commits

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
