
<div id="sales-ops">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1>
          Is Sales forecasting challenging you?
        </h1>
        <p>
          See how successful sales team forecast with Relatas.
        </p>
      </div>
      <div class="col-md-7 relative">
        <img src="assets/hero/0.hero_img_SalesForecast.png">
<!--        <div class="card first">-->

<!--        </div>-->
<!--        <div class="card second"></div>-->
<!--        <div class="card third"></div>-->
      </div>
    </div>
  </div>
</div>

<div class="margintb25 text-center">
  <p>Professionals from 1000+ companies from 300+ global cities rely on Relatas</p>
  <img src="assets/website/banner61.png">
</div>

<div class="margintb25 review">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/website/venkat.jpg">
    </div>
    <div class="col-md-9">
      <div class="padding">
        <h2>
          "Relatas has provided a level of efficiency and insights that we didn’t have before. It gives our sales team a unique view into the forecast to predictably meet revenue targets"
        </h2>
        <strong>Venkat Murthy</strong>
        <p>CEO, 22by7</p>
      </div>
    </div>
  </div>
</div>

<div class="margintb25 text-center case-studies">
<a href="/sales-resources?type=casestudies">  <img src="assets/landingpage/icon_casestudies.png">
  <strong class="text-uppercase">case studies</strong></a>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/website/forecast/img_performance.png">
      </div>
      <div class="col-md-6 img-txt">
        <h1>
          Fact:
        </h1>
        <h4>
          You can improve your sales forecast
        </h4>
        <p>
          Relatas sales AI tracks multiple parameters to help you understand what is not working and suggest corrective actions. Relatas guides you to meet your target.
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <h4>
          Ace Forecast Calls with Deal Rooms
        </h4>
        <p>
          With Relatas AI Insights, analyse each opportunity that the team is committing and discuss the same in the Deal room. Collaborate, assign tasks, take notes and revisit the same during your next Forecast Call.
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img-txt">
        <img src="assets/landingpage/dealroom_m.png">
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/landingpage/forecast_landing.png">
      </div>
      <div class="col-md-6 img-txt">
        <h4>
          Improved reporting and forecasting accuracy
        </h4>
        <p>
          Most sales forecasting fail because of inaccurate data. With 100% of sales activities being captured and matched to the correct account and opportunity. Relatas reports and forecasting becomes more reliable because they are fueled with accurate data.
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <h4>
          AI Based Predictive Forecasting
        </h4>
        <p>
          Each Sales person is different, thus rules based forecasting seldom works. Leverage Relatas AI based sales forecasting for sales teams they can trust. Get insights during weekly deal reviews and forecast calls on anomalies to meet the target. Analyse what changed.
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img-txt">
        <img src="assets/landingpage/improve_forecast.png">
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/landingpage/forecast_landing.png">
      </div>
      <div class="col-md-6 img-txt">
        <h4>
          Identify team members unlikely to meet Targets
        </h4>
        <p>
          Relatas AI engine analyses patterns across sales teams to highlight which team member is unlikely to meet targets. Use your art and Relatas recommendation to beat your targets.
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <h4>
          Forecast Compliance
        </h4>
        <p>
          Identify which team members have not comitted their numbers, missed their commitments. Take actions real-time, instead of at quarter end.
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img-txt">
        <img src="assets/landingpage/forecast_compliance.png">
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/landingpage/deals_at_risk.png">
      </div>
      <div class="col-md-6 img-txt">
        <h4>
          Visibility and insights into 'Deals-at-risk'
        </h4>
        <p>
          Relatas sales AI gives sales leaders a clean visualization of who sales people have spoken with at each stage of a deal. Additionally each sales leader can take corrective action on the deals-at-risk before the deal blows off!
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <h4>
          Uncover New Opportunities
        </h4>
        <p>
          Lot of time deals don’t get recorded in CRM’s. With access to all data about how a customer has interacted with the company, sales teams have brand-new prospects they couldn't surface before. Relatas Recommendation Engine recommends opportunities to your Sales team that can be moved to the pipeline.
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img-txt">
        <img src="assets/landingpage/unlock_opp.png">
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/landingpage/improve_forecast.png">
      </div>
      <div class="col-md-6 img-txt">
        <h4>
          Test Hypothesis with Real Data, Real Time

        </h4>
        <p>
          Relatas allows sales leaders to iterate on complex hypotheses (WHAT - IF) with real historic data before leadership deploys new sales tactics in practice.

        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>
