
<div id="sales-ops">
</div>

<div class="margintb25">

  <div class="container">
    <h3 class="text-center text-uppercase bold" style="margin: 1.5rem 0 1.75rem 0;">
      CRM for <span class="text-blue">Distributors</span>.
    </h3>

    <p class="text-center">
      Relatas helps Sales leaders and Sales Reps manage their pipeline and forecast with NO-INTERACTION-DATA_ENTRY. Transform
      your sales team today. Augment Relatas CRM with Relatas Document management and Relatas Insights to see new deals which
      were not in the pipeline, highlights your deals-at-risks and drives team to meet their targets.
    </p>

    <div class="crm-box margintb25">
      <div class="row">
        <div class="col-md-4">
          <div>
            <h1>68%</h1>
            <h5>Sales reps <br>don't follow processes</h5>
            <p>Objective Management Group</p>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <h1>57%</h1>
            <h5>Sales reps <br>missed their targets</h5>
            <p>Forbes</p>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <h1>28%</h1>
            <h5>revenue boost with a sales process</h5>
            <p>Harvard Business Review</p>
          </div>
        </div>
      </div>
    </div>

    <div class="roles">
      <div class="bg-grey-litest">
        <strong>Why Relatas CRM for Distributors?</strong>
        <ul class="list-unstyled">
          <li>
            <i class="fas fa-angle-right"></i>
            Manage your sales force, manufacturer’s reps or an OEM Channel Partner. Relatas provides a highly detailed,
            yet simple to use, suite of sales features. Understand and Manage relationships at different level.
          </li>
          <li>
            <i class="fas fa-angle-right"></i>
            Relatas allows you to create and manage real-time sales opportunities made of various sales stages of
            products, services, Business Units and Verticals. Relatas gives detailed visibility into each opportunity with
            associated risks.
          </li>
          <li>
            <i class="fas fa-angle-right"></i>
            Virtual Deals Rooms to collaborate and discuss each deal during commit calls.
          </li>
          <li>
            <i class="fas fa-angle-right"></i>
            Create complex quotes or formal proposals. Manage multiple versions of Quotation directly in Relatas CRM.
            Relatas is loved by Sales reps because they can get all their job done in one place with detailed insights into
            each opportunity.
          </li>
          <li>
            <i class="fas fa-angle-right"></i>
            Create Inside sales teams, Marketing team, account management team, finance team, support team for each
            opportunity.
          </li>
          <li>
            <i class="fas fa-angle-right"></i>
            Get Opportunities Recommendations. Relatas analyses each sales rep and creates opportunity
            recommendations.
          </li>
          <li>
            <i class="fas fa-angle-right"></i>
            Forecasting accuracy within Relatas is the key. Relatas reduces gaps, inaccuracies and enhances efficiency
            when managing sales opportunities.
          </li>
        </ul>
      </div>
    </div>

    <div class="reviews-wrapper">

      <div class="reviews">
        <p class="quote" *ngIf="rajani">
          " I like how Relatas seamlessly works with the tools I already use and <strong>uses cognitive
          technology </strong> to help me keep on top of what is time critical! “
        </p>
        <p class="quote" *ngIf="julio">
          " Relatas is a <strong>pioneering customer relationship automation</strong> suggesting what sales reps should do next
          to build stronger relationships & thus increase sales. A godsend to sales reps! "
        </p>
        <p class="quote" *ngIf="sunil">
          "By using Relatas, our team members are able to manage their client relationships better which
          helps them <strong>close deals faster</strong>. Relatas also gives us the insights we require to <strong>be agile and
          informed in our decision making.</strong>"
        </p>
        <p class="quote" *ngIf="venkat">

          "Relatas has provided a level of efficiency and insights that we didn’t have before. Relatas gives our sales rep
          and leadership a <strong>unique view into the forecast</strong> with in-depth visibility into
          committed bookings, upside and any risks involved and helps drive actionable insights to predictably meet revenue
          targets "
        </p>
        <p class="quote" *ngIf="gaurav">
          "I'm excited about Relatas, because now AI can finally help us be better at the
          most human of all things - <strong>social relationships</strong>“
        </p>
        <p class="quote" *ngIf="vasant">
          " Relatas enables me to manage my relationships and interactions much more efficiently
          leading to <strong>increased effectiveness in my business operations</strong>"
        </p>

        <ul class="list-unstyled clearfix profiles">
          <li class="pull-left" (click)="openReview('rajani')">
            <img src="assets/website/rajani.jpg" [ngStyle]="rajani?{ 'width': '75px','height': '75px','opacity':'1', 'margin-top': '-35px' }:''">
            <p class="light text-center" [ngStyle]="rajani?{ 'visibility': 'visible' }:''"><span class="bold">Rajani Ramanathan</span><br>Former COO, Technology & Products, Salesforce</p>
          </li>
          <li class="pull-left" (click)="openReview('julio')">
            <img src="assets/website/julio.jpg" [ngStyle]="julio?{ 'width': '75px','height': '75px','opacity':'1', 'margin-top': '-35px' }:''">
            <p class="light text-center" [ngStyle]="julio?{ 'visibility': 'visible' }:''"><span class="bold">Julio Martinez-Clark</span><br>CEO, Interventional Concepts</p>
          </li>
          <li class="pull-left" (click)="openReview('sunil')">
            <img src="assets/website/sunil.jpg" [ngStyle]="sunil?{ 'width': '75px','height': '75px','opacity':'1', 'margin-top': '-35px' }:''">
            <p class="light text-center" [ngStyle]="sunil?{ 'visibility': 'visible' }:''"><span class="bold">Sunil Pillai</span><br>Co-founder, iValue</p>
          </li>
          <li class="pull-left" (click)="openReview('venkat')">
            <img src="assets/website/venkat.jpg" [ngStyle]="venkat?{ 'width': '75px','height': '75px','opacity':'1', 'margin-top': '-35px' }:''">
            <p class="light text-center" [ngStyle]="venkat?{ 'visibility': 'visible' }:''"><span class="bold">Venkat Murthy</span><br>CEO, 22by7</p>
          </li>
          <li class="pull-left" (click)="openReview('gaurav')">
            <img src="assets/website/gaurav.jpg" [ngStyle]="gaurav?{ 'width': '75px','height': '75px','opacity':'1', 'margin-top': '-35px' }:''">
            <p class="light text-center" [ngStyle]="gaurav?{ 'visibility': 'visible' }:''"><span class="bold">Gaurav Rastogi</span><br>Former VP Sales, Infosys</p>
          </li>
          <li class="pull-left" (click)="openReview('vasant')">
            <img src="assets/website/vasant.jpg" [ngStyle]="vasant?{ 'width': '75px','height': '75px','opacity':'1', 'margin-top': '-35px' }:''">
            <p class="light text-center" [ngStyle]="vasant?{ 'visibility': 'visible' }:''"><span class="bold">Vasant Kumar</span><br>Former Sr Director, Oracle</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="margintb25">
  <div class="container">
    <h4 class="text-uppercase text-center center">
      CONTACT, OPPORTUNITY AND ACCOUNT MANAGEMENT (Relatas CRM)
    </h4>
    <div class="row">
      <div class="col-md-6">
        <div [ngClass]="one?'active':'non-active'">
          <strong class="cursor" (click)="openImage('one')">No-Data-Entry CRM </strong>
          <div *ngIf="one">
            <ul>
              <li>Relatas automatically pulls in data from your
                interaction sources (email/ calendar/ calls/ sms) and
                analyses the same to show actionabl</li>
              <li>360 degree view of the customer </li>
            </ul>
          </div>
        </div>
        <div [ngClass]="two?'active':'non-active'">
          <strong class="cursor" (click)="openImage('two')">
            Opportunity/ Pipeline Management
          </strong>
          <div *ngIf="two">

            <ul>
              <li>Relatas AI engine analyses patterns across sales
                teams to highlight which deals are at risk. </li>
              <li>Create Quotations directly from the opportunity </li>
              <li>Create multiple teams for each opportunity </li>
            </ul>
          </div>
        </div>
        <div [ngClass]="three?'active':'non-active'">
          <strong class="cursor" (click)="openImage('three')">
            Account/ Partner/ Distributor Management
          </strong>
          <div *ngIf="three">

            <ul>
              <li>Relatas Accounts highlights the important points in
                your relationship building with key accounts. </li>
              <li>
                Relationship management with key stake holders /
                Account Hierarchy / KPI management/ Product Sales
                update/ Revenue Updates/ Up-sell/ cross sell
                opportunities.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="images">
          <div *ngIf="one" style="background:blue"></div>
          <div *ngIf="two" style="background:red"></div>
          <div *ngIf="three" style="background:green"></div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="margintb25 margin-t75">
  <div class="container">

    <h4 class="text-uppercase text-center center">
      SALES FORECASTING (Relatas Insights)
    </h4>
    <div class="row">
      <div class="col-md-6">
        <div [ngClass]="four?'active':'non-active'">
          <strong class="cursor" (click)="openImageTwo('four')">
            AI Based Predictive Forecasting
          </strong>
          <div *ngIf="four">

            Each Sales person is different, thus rules based
            forecasting seldom works. Leverage Relatas AI based
            sales forecasting for sales teams they can trust. Get
            insights during weekly deal reviews and forecast calls
            on anomalies to meet the target. Analyse what
            changed.
          </div>
        </div>
        <div [ngClass]="five?'active':'non-active'">
          <strong class="cursor" (click)="openImageTwo('five')">
            Test Hypothesis with Real Data, Real Time
          </strong>
          <div *ngIf="five">
            Relatas allows sales leaders to iterate on complex
            hypotheses (WHAT - IF) with real historic data before
            leadership deploys new sales tactics in practice.
          </div>
        </div>
        <div [ngClass]="six?'active':'non-active'">
          <strong class="cursor" (click)="openImageTwo('six')">
            Ace Forecast Calls with Deal Rooms
          </strong>
          <div *ngIf="six">
            With Relatas AI Insights, analyse each opportunity that
            the team is committing and discuss the same in the
            Deal room. Collaborate, assign tasks, take notes and
            revisit the same during your next Forecast Call.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="images">
          <div *ngIf="four" style="background:orange"></div>
          <div *ngIf="five" style="background:violet"></div>
          <div *ngIf="six" style="background:maroon"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="margintb25 margin-t75">
  <div class="container">
    <h4 class="text-uppercase text-center center">
      QUOTATION CREATION AND MANAGEMENT (Relatas Document Management)
    </h4>
    <div class="row">
      <div class="col-md-6">
        <div [ngClass]="seven?'active':'non-active'">
          <strong class="cursor" (click)="openImageThree('seven')">
            Create Quotations/ Proposals
          </strong>
          <div *ngIf="seven">
            <ul>
              <li>Create multiple versions of the same quote. </li>
              <li>
                Create multiple Quotations, Proposals, Invoices from
                templates and then send them directly from Relatas
              </li>
            </ul>
          </div>
        </div>
        <div [ngClass]="eight?'active':'non-active'">
          <strong class="cursor" (click)="openImageThree('eight')">
            Real-time Insights on Quotations
          </strong>
          <div *ngIf="eight">
            <ul>
              <li>Get real-time feedback on the document analytics. </li>
              <li>Prepare well for your next call/ meeting with the client. </li>
            </ul>
          </div>
        </div>
        <div [ngClass]="nine?'active':'non-active'">
          <strong class="cursor" (click)="openImageThree('nine')">
            No More Email Attachments & Control Access
          </strong>
          <div *ngIf="nine">
            <ul>
              <li>Securely share documents with your contacts. No
                more email attachments. No more clogging inboxes. </li>
              <li>Set expiry dates for each document. Password
                protect the documents to prevent un-authorized
                access.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="images">
          <div *ngIf="seven" style="background:orange"></div>
          <div *ngIf="eight" style="background:violet"></div>
          <div *ngIf="nine" style="background:maroon"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="margintb25 grey-span-bg text-center center">
  <div class="container">
    <h4 class="text-uppercase">
      INTEGRATE RELATAS WITH YOUR EXISTING SYSTEMS
    </h4>
    <div class="crm-suite">

    </div>
    <p class="text-center center"> and many more</p>
  </div>
</div>

<div class="box lite-grey-bg">
  <div class="container">
    <h2 class="text-uppercase text-center">
      EXPERIENCE <span class="text-blue">NEW AGE SALES</span>
    </h2>
    <p class="text-center">Professionals from 1000+ companies from 300+ global cities rely on Relatas</p>
    <img src="assets/website/banner4.jpg">
  </div>
</div>
