<div id="sales-ops">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1>
          No-Data-Entry CRM
        </h1>
        <p>
          Relatas auto captures activities and creates opportunities that are not in your pipeline so that the CRM is always authentic and real-time.
        </p>
      </div>
      <div class="col-md-7 relative">
        <img src="assets/hero/0.hero_img_opportunityInsights.png">
        <!--        <div class="card first">-->

        <!--        </div>-->
        <!--        <div class="card second"></div>-->
        <!--        <div class="card third"></div>-->
      </div>
    </div>
  </div>
</div>

<div class="margintb25 text-center">
  <p>Professionals from 1000+ companies from 300+ global cities rely on Relatas</p>
  <img src="assets/website/banner61.png">
</div>

<div class="margintb25 review">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/website/venkat.jpg">
    </div>
    <div class="col-md-9">
      <div class="padding">
        <h2>
          "Relatas has provided a level of efficiency and insights that we didn’t have before. It gives our sales team a unique view into the forecast to predictably meet revenue targets"
        </h2>
        <strong>Venkat Murthy</strong>
        <p>CEO, 22by7</p>
      </div>
    </div>
  </div>
</div>

<div class="margintb25 text-center case-studies">
<a href="/sales-resources?type=casestudies">  <img src="assets/landingpage/icon_casestudies.png">
  <strong class="text-uppercase">case studies</strong></a>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/hero/hero_img_crm.png">
      </div>
      <div class="col-md-6 img-txt">
        <h1>
          Fact:
        </h1>
        <h4>
          You can improve your sales forecast
        </h4>
        <p>
          Relatas sales AI tracks multiple parameters to help you understand what is not working and suggest corrective actions. Relatas guides you to meet your target.
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img-txt">
        <h4>
          Sales executives hate entering data into their existing CRMs. Most CRMs fail, but because of inacurate and dated information.

        </h4>
        <p>
          Relatas automatically pulls in data from your interaction sources (email/ calendar/ calls/ sms) and analyses the same to show actionable insights.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img">
        <img src="assets/landingpage/no_data_entry.png">
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img-txt">
        <img src="assets/landingpage/relatas_dealroom.png">
      </div>
      <div class="col-md-6 img">
        <h4>
          Analyse each deal in deal room
        </h4>
        <p>
          With mobile-first sales AI, you can take all your critical discussion on the road. All insights and red flags at your finger tips.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img-txt">
        <h4>
          Unlock hidden opportunities
        </h4>
        <p>
          Relatas Sales AI automatically highlights ad recommends opportunities that are currently not in your pipeline.  Allowing sales leaders to set correct goals and track all sales activities avoiding sand-bagging of opportunities and also highlighting opportunities that might have an impact on the current pipeline.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img">
        <img src="assets/landingpage/unlock_opp.png">
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img-txt">
        <img src="assets/landingpage/forecast_landing.png">
      </div>
      <div class="col-md-6 img">
        <h4>
          Win faster with Recommended Opportunties
        </h4>
        <p>
          Relatas Recommendation Engine analyses past sales pattern, current sales closures and interaction data and much more, to recommend opportunties that are not yet in the pipeline.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">

      <div class="col-md-6 img-txt">
        <h4>
          What-If scenarious to help you see the future
        </h4>
        <p>
          With all critical data at your finger tips, you can now take strategic decisions on revenue forecast, expansion plans and sales hiring.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img">
        <img src="assets/landingpage/what_if.png">
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img-txt">
        <img src="assets/landingpage/deals_at_risk.png">
      </div>
      <div class="col-md-6 img">
        <h4>
          Visibility and insights into 'Deals-at-risk'
        </h4>
        <p>
          Relatas sales AI gives sales leaders a clean visualization of who sales people have spoken with at each stage of a deal. Additionally each sales leader can take corrective action on the deals-at-risk before the deal blows off!
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

