#sales-ops {
  margin-top: 8rem;
}

.roles .bg-grey-litest {
  padding: 20px;
  min-height: 470px;margin-bottom:15px;
}

.roles .bg-grey-litest ul {
  margin-top: 15px;
}

.roles .bg-grey-litest li {
  margin: 15px 0;
}

.protection {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.protection img {
  width: 40px;
  margin-bottom: 0.5rem;
}

.protection .row {
  margin-bottom: 2rem;
}

.protection .aws-img {
  text-align: center;
  margin-top: 5rem;
}

.protection .aws-img img {
  width: 200px;
}


