<div id="sales-ops">
</div>

<div class="margintb25">

  <div class="container">
    <h3 class="text-center text-uppercase bold" style="margin: 1.5rem 0 1.75rem 0;">
      Security is Important
    </h3>

    <p class="text-center">
      Relatas has been built grounds-up on a modern cloud based architecture with industry standard technologies and
      processes which ensure enterprise level security and data security for customers.
    </p>

    <h4 class="text-center margin-t25 margin-b25">
      Relatas Client Services Security
    </h4>
    <div class="row roles">
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Relatas Web</strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>
              Encrypted Sessions 256-bit TLS 1.2
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Encrypted Cookies for Sessions
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Strong Authentication
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              SAML 2.0 – SSO Integration
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Oauth Client Access Protocols
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              OWASP Top 10 verified
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Certificate Verification
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Secure Access and Activity Log
            </li>

            <li>
              <i class="fas fa-angle-right"></i>
              Session Timeout
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              URL Access Restrictions
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Relatas Mobile</strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>
              Encrypted Sessions 256-bit TLS 1.2
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              OTP based onboarding
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Encrypted Cookies for Sessions
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              SAML 2.0 – SSO Integration
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Oauth Client Access Protocols
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Source Code Hardening
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Clean Data principles
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Certificate Pinning and Verification
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Secure Access and Activity Log
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Transient URLs
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Relatas Integration </strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>

              OAuth authentication for Salesforce, Microsoft Office 365 and Google Suite

            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              SSO enabled session authentication
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Service API throttling and monitoring API limits
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Support for IP Address lock-downs
            </li>
          </ul>
        </div>
      </div>
    </div>

    <h4 class="text-center margin-t25 margin-b25">Relatas Cloud Services Security</h4>

    <div class="row roles">
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Secure Cloud</strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>
              Virtual Private Cloud
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Audit Trail for cloud API’s
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Shared security model with Tier-1  cloud provider and
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Secure VPN connections to Customer Data Centers
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Isolation of Production, QA and Dev environments
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Cloud Security Alliance CSA-CAI-1.1
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Amazon Web Services Assessment
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Secure Data</strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>
              End-to-end encryption for data in transit and at rest
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Logical data segregation for multiple customers
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Server-side volume encryption
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Encrypted cloud storage
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Backups to highly redundant cloud storage
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Two Factor Authentication and audit for admin access
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Secure Compute</strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>
              OAuth authentication for Salesforce, Microsoft Office 365 and Google Suite
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Support for IP Address lock-downs
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Time bound role based access to Cloud Services
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
