<div id="sales-ops">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 style="margin-top:2rem;">
          Relatas is the custodian of customers' sales data.
        </h1>
        <p>
          Relatas has been built grounds-up on a modern cloud based architecture with industry standard technologies and processes which ensure enterprise level security and data security for customers.

        </p>
      </div>
      <div class="col-md-7">
        <img src="assets/hero/hero_img_security.png">
      </div>
    </div>

    <div style="margin: 2rem 0;">
      <h1>
        Behind the scenes
      </h1>
      <div class="row">
        <div class="col-md-4">
          <strong>Protecting your data
          </strong>
          <p>
            Multi-tiered data  security model
          </p>
        </div>
        <div class="col-md-4">
          <strong>
            Secure Product Build
          </strong>
          <p>
            End-to-end security in product lifecycle
          </p>
        </div>
        <div class="col-md-4">
          <strong>
            Highly Resilient Architecture
          </strong>
          <p>
            Always lights-on for your business
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="margintb25 protection lite-grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>
          Protecting your data
        </h1>
        <p>
          We understand the value of data. With our robust system of data safeguards, we allow you to focus on the data rather than on its security
        </p>

        <div class="aws-img">
          <img src="assets/website/aws_secure.jpg">
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_security.png">
            <p>
              <strong>
                Virtual Private Cloud
              </strong>
            </p>
            Hosted in dedicated VPCs in non-promiscuous mode that are further segmented for increased security and manageability.
          </div>
          <div class="col-md-6">
            <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_security.png">
            <p>
              <strong>
                Perimeter Security

              </strong>
            </p>
            Routing rules hardened based on pre-established criteria for various permissible transactions across all resources.
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_security.png">
            <p>
              <strong>
                Access Controls

              </strong>
            </p>
            Role-based access through IAM that enforces segregation of duties, two-factor authentication and end-to-end audit trails ensuring access is in accordance with security context.
          </div>
          <div class="col-md-6">
            <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_security.png">
            <p>
              <strong>
                Encryption
              </strong>
            </p>
            AES 256 bit encryption with 1,024 bit key-strength for data at Rest and FIPS 140-2 compliant TLS encryption for data in transit.
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_security.png">
            <p>
              <strong>
                Management Plane
              </strong>
            </p>
            Secure administrative tunnel with whitelisted IP addresses for secure connection to the servers for administrative purposes, through a bastion host.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="margintb25">

  <div class="container">
    <h4 class="text-center margin-t25 margin-b25">
      Relatas Client Services Security
    </h4>
    <div class="row roles">
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Relatas Web</strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>
              Encrypted Sessions 256-bit TLS 1.2
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Encrypted Cookies for Sessions
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Strong Authentication
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              SAML 2.0 – SSO Integration
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Oauth Client Access Protocols
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              OWASP Top 10 verified
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Certificate Verification
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Secure Access and Activity Log
            </li>

            <li>
              <i class="fas fa-angle-right"></i>
              Session Timeout
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              URL Access Restrictions
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Relatas Mobile</strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>
              Encrypted Sessions 256-bit TLS 1.2
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              OTP based onboarding
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Encrypted Cookies for Sessions
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              SAML 2.0 – SSO Integration
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Oauth Client Access Protocols
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Source Code Hardening
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Clean Data principles
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Certificate Pinning and Verification
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Secure Access and Activity Log
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Transient URLs
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Relatas Integration </strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>

              OAuth authentication for Salesforce, Microsoft Office 365 and Google Suite

            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              SSO enabled session authentication
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Service API throttling and monitoring API limits
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Support for IP Address lock-downs
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="margintb25 protection lite-grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>
          Highly Resilient Architecture
        </h1>
        <p>
          The architecture is built with resiliency in mind that ensure high availability for the product and data.
        </p>

        <div class="aws-img">
          <img src="assets/website/aws_secure.jpg">
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_security.png">
            <p>
              <strong>
                Component Redundancy

              </strong>
            </p>
            All components are deployed in ‘n+1’ mode across multiple availability zones configured in active - active mode behind a load balancing service.
          </div>
          <div class="col-md-6">
            <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_security.png">
            <p>
              <strong>
                Highly Scalable DNS
              </strong>
            </p>
            Route users to the best endpoint based on geo-proximity, latency, health, and other considerations.
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_security.png">
            <p>
              <strong>
                Platform Load Balancing
              </strong>
            </p>
            Automatically distribute application traffic across multiple availability zones that supports high availability, auto scaling and robust security.
          </div>
          <div class="col-md-6">
            <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_security.png">
            <p>
              <strong>
                Data Backup
              </strong>
            </p>
            Near real-time backups taken across multiple availability zones in encrypted and access controlled containers.
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_security.png">
            <p>
              <strong>
                Cross Geo Redundancy

              </strong>
            </p>
            Mirrored multiple Availability Zones are setup and serves customers in real-time thereby providing seamless DR capability.
          </div>
          <div class="col-md-6">
            <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_security.png">
            <p>
              <strong>
                Capacity Management
              </strong>
            </p>
            Proactive capacity monitoring based on conservative thresholds and on-demand capacity expansion capability through our highly elastic hosting partners.
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="margintb25">
  <div class="container">
    <h4 class="text-center margin-t25 margin-b25">Relatas Cloud Services Security</h4>

    <div class="row roles">
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Secure Cloud</strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>
              Virtual Private Cloud
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Audit Trail for cloud API’s
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Shared security model with Tier-1  cloud provider and
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Secure VPN connections to Customer Data Centers
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Isolation of Production, QA and Dev environments
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Cloud Security Alliance CSA-CAI-1.1
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Amazon Web Services Assessment
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Secure Data</strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>
              End-to-end encryption for data in transit and at rest
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Logical data segregation for multiple customers
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Server-side volume encryption
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Encrypted cloud storage
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Backups to highly redundant cloud storage
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Two Factor Authentication and audit for admin access
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Secure Compute</strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>
              OAuth authentication for Salesforce, Microsoft Office 365 and Google Suite
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Support for IP Address lock-downs
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Time bound role based access to Cloud Services
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="margintb25 protection lite-grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>
          Secure Product Build
        </h1>
        <p>
          Information security and data privacy requirements are baked into every release cycle and form part of the blueprint considerations of the product.
        </p>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_security.png">
            <p>
              <strong>
                Product Roadmapping
              </strong>
            </p>
            Product road-map is defined and reviewed periodically by the Product Owner. Security fixes are prioritized and are bundled in the earliest possible sprint.
          </div>
          <div class="col-md-6">
            <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_security.png">
            <p>
              <strong>
                DevOps Squad
              </strong>
            </p>
            Our DevOps sprints are powered by a multi disciplinary Squad of members including the Product Owner, Squad Lead, Tribe Lead and Members, and Quality Assurance.
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_security.png">
            <p>
              <strong>
                Version Control
              </strong>
            </p>
            Source Code is managed centrally with version controls and access restricted based on various teams that are assigned to specific sprints. Records are maintained for code changes and code check-ins and check-outs.
          </div>
          <div class="col-md-6">
            <img src="assets/landingpage/1.Product_Navigation/ic_sales_nav_security.png">
            <p>
              <strong>
                Segregation of Duties
              </strong>
            </p>
            Access to the production is restricted to very limited set of users based on the job roles. Access to the production environment for developers and Quality Assurance team members are restricted based on their job responsibilities.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
