<div class="position-relative">
  <div class="demo-bg">
    <div class="container">

      <div class="right-fix-img">
        <img src="assets/website/img_testimonial.jpg">
      </div>

      <div class="row">
        <div class="col-7">

          <strong>Relatas is the AI platform, successful sales teams use for Sales Execution,
            Account Management and Forecasting.</strong><br>
          The biggest challenge that most CEO, CRO, VP Sales, Sales Reps face today are:
          <ul>
            <li>Pipeline Inspection - Maintain a healthy pipeline, increase win rate and improve sales productivity
            <li>Sales Forecasting - Relatas transforms forecasting so execs can spot risk in their forecasts
              and do course correction to get team back on track</li>
            <li>Limited visibility if the team is exercising efforts on right accounts</li>
            <li>Availability of real time, contexts based intelligent actionable data
              and most common, their existing CRM is used as a database with limited or no data entry</li>
            <li>Discover the No-Data-Entry powered with AI, Sales Platform today.</li>
          </ul>


          <input #fullName (keyup.enter)="fullName.value='' " placeholder="Full name">
          <input type="email" #emailId (keyup.enter)="emailId.value='' " placeholder="Business Email ID">
          <button class="teal-btn btn-lg font-weight-bold" (click)="addlead(fullName.value,emailId.value)">
            Download
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
