
<div id="sales-ops">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1>
          Sales AI for sales professionals
        </h1>
        <p>
          Leverage the power of Artificial Intelligence to increase your sales teams productivity, unlock hidden opportunties and gain actionable deal level insights.
        </p>
      </div>
      <div class="col-md-7">
        <img src="assets/hero/hero_img_salesAI.png">
      </div>
    </div>
  </div>
</div>

<div class="margintb25 text-center">
  <p>Professionals from 1000+ companies from 300+ global cities rely on Relatas</p>
  <img src="assets/website/banner61.png">
</div>

<div class="margintb25 review">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/website/rajani.jpg">
    </div>
    <div class="col-md-9">
      <div class="padding">
        <h2>
          " I like how Relatas seamlessly works with the tools I already use and uses cognitive
          technology to help me keep on top of what is time critical! “
        </h2>
        <strong>Rajani Ramanatha</strong>
        <p>Former COO, Salesforce</p>
      </div>
    </div>
  </div>
</div>

<div class="margintb25 text-center case-studies">
<a href="/sales-resources?type=casestudies">  <img src="assets/landingpage/icon_casestudies.png">
  <strong class="text-uppercase">case studies</strong></a>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/landingpage/no_data_entry.png">
      </div>
      <div class="col-md-6 img-txt">
        <h4>
          No Data Entry CRM
        </h4>
        <p>
          SDRs, field, and enterprise sales people all communicate and engage with their prospects in different ways, and your sales intelligence software should be able to adapt to the way they each sell.

        </p>
        <p>
          Relatas automatically pulls in data from your interaction sources (email/ calendar/ calls/ sms) and analyses the same to show actionable insights.
        </p>
        <p>
          360 degree view of the customer
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <h4>
          Unlock hidden opportunities

        </h4>
        <p>
          Relatas Sales AI automatically highlights ad recommends opportunities that are currently not in your pipeline.  Allowing sales leaders to set correct goals and track all sales activities avoiding sand-bagging of opportunities and also highlighting opportunities that might have an impact on the current pipeline.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img-txt">
        <img src="assets/landingpage/what_if.png">
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/landingpage/what_if.png">
      </div>
      <div class="col-md-6 img-txt">
        <h4>
          What-If scenarious to help you see the future
        </h4>
        <p>
          With all critical data at your finger tips, you can now take strategic decisions on revenue forecast, expansion plans and sales hiring.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <h4>
          Visibility and Insights into Deals at Risk
        </h4>
        <p>
          Relatas Sales AI gives sales leaders a clear visualization of who sales have spoken with at each stage of an opportunity. Additionally, sales leaders are able get details of each Deal-ar-risk and take corrective action before the deal blows off.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img-txt">
        <img src="assets/landingpage/deals_at_risk.png">
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/landingpage/forecast_landing.png">
      </div>
      <div class="col-md-6 img-txt">
        <h4>
          Improved reporting and forecasting accuracy
        </h4>
        <p>
          Most sales forecasting fail because of inaccurate data. With 100% of sales activities being captured and matched to the correct account and opportunity. Relatas reports and forecasting becomes more reliable because they are fueled with accurate data.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <h4>
          Analyse business critical documents
        </h4>
        <p>
          The A-B-C-D of sales sales documents. You can create documents (Invoices, quotations, proposals) do version control, approval work flows and share these documents directly from Relatas to get page level analytics. Relatas uses document intelligence as another parameter for sales forecasting.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img-txt">
        <img src="assets/landingpage/document_insights.png">
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/landingpage/relatas_dealroom.png">
      </div>
      <div class="col-md-6 img-txt">
        <h4>
          Analyse each deal in deal room
        </h4>
        <p>
          With mobile-first sales AI, you can take all your critical discussion on the road. All insights and red flags at your finger tips.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>
