
<div id="sales-ops">
  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <h1>
          Challenged with data silos and functional walls?

        </h1>
        <p>
          Successful sales teams win with continuous teamwork. Relatas helps teams with embedded messaging, deal boards, and AI powered tools to break silos and drive sales.
        </p>
      </div>
      <div class="col-md-7">
        <img src="assets/hero/hero_img_dealroom.png">
      </div>
    </div>
  </div>
</div>

<div class="margintb25 text-center">
  <p>Professionals from 1000+ companies from 300+ global cities rely on Relatas</p>
  <img src="assets/website/banner61.png">
</div>

<div class="margintb25 review">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/website/julio.jpg">
    </div>
    <div class="col-md-9">
      <div class="padding">
        <h2>
          " Relatas is a pioneering customer
          relationship automation suggesting what sales reps should do next to build stronger
          relationships & thus increase sales. A godsend to sales reps! "
        </h2>
        <strong>Julio Martinez-Clark</strong>
        <p>CEO, Interventional Concepts</p>
      </div>
    </div>
  </div>
</div>

<div class="margintb25 text-center case-studies">
  <a href="/sales-resources?type=casestudies">  <img src="assets/landingpage/icon_casestudies.png">
    <strong class="text-uppercase">case studies</strong></a>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/landingpage/relatas_dealroom.png">
      </div>
      <div class="col-md-6 img-txt">
        <h1>
          Fact:
        </h1>
        <h4>
          Relatas Deal Rooms increases collaboration between teams

        </h4>
        <p>
          Deal rooms give you all the deal related information on your finger tips - Deal data, related documents, insights to ease the collaboration and interactions between teams.
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container card-view">
  <div class="row">
    <div class="col-md-6">
      <h1 style="margin-top: 3rem;">
        How Relatas Deal Room makes a difference to sales teams?
      </h1>
    </div>
    <div class="col-md-6">
      <div class="card-box">
        <div class="row">
          <div class="col-md-8">
            <h5>
              Get Real Time Insights
            </h5>
            <section>
              Get true picture of what is happening on the ground with Opportunity Insights during commit calls. Virtual Deals Rooms help to collaborate and discuss each deal during commit calls.
            </section>
          </div>
          <div class="col-md-4">
            <img src="assets/landingpage/see_rel_img02.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 right">
      <div class="card-box">

        <div class="row">
          <div class="col-md-8">
            <h5>
              Collaborate In Real Time
            </h5>
            <section>
              Collaborate in real time with team members with opportunity/ account details at your finger tips.
            </section>
          </div>
          <div class="col-md-4">
            <img src="assets/landingpage/see_rel_img03.png">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 left">

      <div class="card-box">
        <div class="row">
          <div class="col-md-8">
            <h5>
              Get Cross-Functional Team Together
            </h5>

            <section>
              Strategize with team members from finance/ legal/ account/ marketing to discuss the deal and win as a team.
            </section>
          </div>
          <div class="col-md-4">
            <img src="assets/landingpage/see_rel_img04.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 right">
      <div class="card-box">

        <div class="row">
          <div class="col-md-8">
            <h5>
              Share Documents
            </h5>

            <section>
              Share deal related documents and discuss the next plan of action.
            </section>
          </div>
          <div class="col-md-4">
            <img src="assets/landingpage/see_rel_img01.png">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 left">
      <div class="card-box">

        <div class="row">
          <div class="col-md-8">
            <h5>
              AI To Help You Out
            </h5>

            <section>
              Relatas uses AI to keep track of crucial discussion points and summarizes actions.
            </section>
          </div>
          <div class="col-md-4">
            <img src="assets/landingpage/see_rel_img05.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/landingpage/dealroom_m.png">
      </div>
      <div class="col-md-6 img-txt">
        <h4>
          Ace Forecast calls with Deal rooms
        </h4>
        <p>
          With Relatas AI Insights, analyse each opportunity that the team is committing and discuss the same in the Deal room. Collaborate, assign tasks, take notes and revisit the same during your next Forecast Call.
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <h4>
          Mobile Collaboration
        </h4>
        <p>
          Move from WhatsApp and other communication tools to get real-time deal intelligence on-the-go and chat with team members.
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img-txt">
        <img src="assets/landingpage/mobile_collaboration.png">
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/landingpage/distributed_teams.png">
      </div>
      <div class="col-md-6 img-txt">
        <h4>
          Distributed team collaboration
        </h4>
        <p>
          Get all team members in the deal room to collaborate and win as a team. Assign tasks, collaborate.
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>
