
<div id="sales-ops">
  <img style="width: 70%;margin: 2rem;" src="assets/hero/hero_img_overview.png">
  <div class="container">
    <h1>
      Why Enterprises love Relatas.
    </h1>
    <p>
      Relatas is the life-story of a sales geek, built by sales professionals for sales professionals. Our AI based real-time sales guidance disrupts how sales reps engage with customers and helps enterprises win deals faster.
    </p>
  </div>
</div>

<div class="margintb25 text-center">
  <p>Professionals from 1000+ companies from 300+ global cities rely on Relatas</p>
  <img src="assets/website/banner61.png">
</div>

<div class="margintb25 review">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/website/rajani.jpg">
    </div>
    <div class="col-md-9">
      <div class="padding">
        <h2>
          " I like how Relatas seamlessly works with the tools I already use and uses cognitive
          technology to help me keep on top of what is time critical! “
        </h2>
        <strong>Rajani Ramanatha</strong>
        <p>Former COO, Salesforce</p>
      </div>
    </div>
  </div>
</div>

<div class="margintb25 why-relatas">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>
          Why we built Relatas?
        </h1>
        <p>
          Relatas is the life-story of a sales geek, built by sales professionals for sales professionals.
          </p>
        <p>

          Sudip, Relatas founder & CEO has 2 decades of sales and product management experience. He spent 6 years building a CRM for a multi-billion dollar company and 14 years selling to Fortune 500 companies across four continents. Relatas is Sudip’s life story.
        </p>
        <p>

          Relatas team realized that sales people hate entering data because of which sales leaders don’t have sufficient data to forecast sales. And that’s how started the journey to build the best in class Sales Forecasting product to help global enterprise sales teams.
        </p>
        <p>
          Our AI based real-time sales guidance disrupts how sales reps engage with customers and helps enterprises win deals faster.
        </p>
      </div>
      <div class="col-md-5">
        <img src="assets/hero/img_whybuildrel.png">
      </div>
    </div>
  </div>
</div>

<h1 class="text-center">Problems we are solving with Relatas
</h1>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/hero/img_salespplhate.png">
      </div>
      <div class="col-md-6 img-txt">
        <h4>
          Sales professionals hate to enter data in their existing CRM’s

        </h4>
        <p>
          Successful sales professionals are busy selling. They hate entering data into archaic CRM systems. With Relatas, sales professionals don’t need to enter data. Relatas automatically pulls in data from regular interaction data to enrich data and helping sales leaders get real time vsibility.
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <h4>
          Rule based CRM/ Sales forecasting don’t work
        </h4>
        <p>
          Every sales professional is different, thus rule based systems don’t work. Relatas is a new-age Sales forecasting product which gets real-time authentic data to help you with AI based sales forecasting.
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img-txt">
        <img src="assets/hero/img_rulebased.png">
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/hero/hero_img_SalesAnalytics.png">
      </div>
      <div class="col-md-6 img-txt">
        <h4>
          Sales Forecasting is difficult
        </h4>
        <p>
          We understand that Sales Forecasting is difficult. Thus we built a AI based sales forecasting product, to help you understand where to focus and play with numerour What-If situations to guide you to sell faster.
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <h4>
          AI & Mobile first sales forecasting

        </h4>
        <p>
          Artificial Intelligence is the new buzz word. At Relatas we believe in AI based Usability. Relatas Artificial Intelligence Engine provides with real-time actionable insights, and our UI makes sure that you see them at the right time.
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img-txt">
        <img src="assets/hero/hero_img_salesAI.png">
      </div>
    </div>
  </div>
</div>
<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/hero/img_diff_collab.png">
      </div>
      <div class="col-md-6 img-txt">
        <h4>
          Difficult to collaborate with teams
        </h4>
        <p>
          At Relatas we understand that Sales is a team contact sport. Deals are won by teams lead by an able captain. Thus we built SalesDealRoom to help disparate teams collaborate with intelligence available to all.
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <h4>
          Complex problem. Simple, yet powerful solution.
        </h4>
        <p>
          Sales forecasting is a difficult problem. At Relatas we spent years (since 2015) working with world-class customers and found a solution and made it simple, yet powerful for mid-sized companies to enterprises.
        </p>

        <div class="btns-grp-wrapper">
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img-txt">
        <img src="assets/hero/img_simple_powerful.png">
      </div>
    </div>
  </div>
</div>
