@import "../../theme/theme-variables";

#sales-ops {
  margin-top: 4rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

.why-relatas {
  margin-top: -1.5rem !important;
  padding-top: 4rem !important;
  background-color: #fafafa;
}

.why-relatas .col-md-5 {
  text-align: right;
}

.why-relatas img {
  width: 90%;
}

#sales-ops h1 {
}

#sales-ops p {
  margin-top: 1.75rem;
}

.card-box {
  border: 1px solid #ddd;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  min-height: 225px;
}

.review .col-md-3,
.review .col-md-9 {
  padding: 0;
}

.review .col-md-9 {
  background: $primary;
  color: #fff;
}

.review .padding {
  padding: 2rem 2rem 0 2rem;
}

.relative {
  position: relative;
}

.relative  .card{
  position: absolute;
  height: 100px;
  width: 250px;
  border: 1px solid #ddd;
  background: #fff;
}

.first {
  top: 25px;
  left: 5em;
}

.second {
  top: 155px;
}

.third {
  top: 280px;
  left: 6.5em;
}

.roles .bg-grey-litest {
  padding: 20px;
  min-height: 375px;
  margin: 10px 0;
}

.roles .bg-grey-litest ul {
  margin-top: 15px;
}

.roles .bg-grey-litest li {
  margin: 15px 0;
}

.reviews-wrapper {
  height: 400px;
  margin: auto;
}

.reviews {
  background: #fff;
  padding: 25px;
  position: relative;
  height: 250px;
}

.reviews .profiles {
  font-size: 0.75rem;
  position: absolute;
  bottom: -155px;
  left: 0;
  right: 0;
  margin: auto;
  width: 52.33%;
}

.reviews .profiles img {
  width: 50px;
  height: 50px;
  border-radius: 55%;
  margin-bottom: 10px;
  object-fit: cover;
  box-shadow: 2px 1px 2px transparent;
  opacity: .4;
}

.reviews .profiles img:hover {
  box-shadow: 2px 1px 2px #aaa;
  cursor: pointer;
  opacity: .4;
}

.reviews .profiles p {
  visibility: hidden;
  width: 125px;
  margin-left: -20px;
}

.reviews .profiles .pull-left {
  float: left;
  width: 95px;
  height: 185px;
  text-align: center;
}

.active,
.non-active {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.non-active {
  background: var(--gray100);
  opacity: 0.5
}

.active strong {
  margin-bottom: 10px;
  transition: all 0.23s ease-out;
  display: block;
}

.active {
  transition: all 0.33s linear;
  background: var(--gray200);
  border: 1px solid #ddd;
}

.grey-span-bg {
  background: var(--gray200);
  padding: 20px 0;
}

.images,
.images div {
  height: 100%;
}

.quote {
  width: 69.99%;
  margin: auto;
  text-align: center;
  font-size: 1rem;
  color: #000;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  height: 185px;
}

@media screen and (max-width: 780px) {
  .roles .bg-grey-litest {
    min-height: 305px;
  }
}
