<div class="footer-mailer" *ngIf="canBedisplayed()">
  <div class="container">

    <span>Stay connected</span>
    <input type="email" #emailId (keyup.enter)="emailId.value='' "
           placeholder="Enter business email Id"
           [ngStyle]="errorMsg.errorExist?{'box-shadow': '0px 0px 3px orangered','border': '1px solid orange'}:''">
    <button class="btn btn-primary" style="margin-top: -8px;" *ngIf="!demoRequestSent" (click)="submitDemoRequest(emailId.value)">SIGN UP</button>
    <button class="btn btn-primary" *ngIf="demoRequestSent" style="background: transparent;color: var(--blue);border-color: var(--blue);font-size: 0.8rem;padding: 3px 10px;">
      <i class="fas fa-check"></i> Done
    </button>

    <div class="error-popup" *ngIf="!errorMsg.pass">
      <div class="message">
        {{errorMsg.message}}
        <button (click)="closeError()">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-6 icons">
        <div>
          <img src="assets/website/relatasLogo_Google.png">
        </div>
        All the insights you need to predicatably win your customer
      </div>
      <div class="col-md-2 col-sm-6">
        <strong>PRODUCT</strong>
        <div class="links">
          <a class="for-scroll" routerLink="/sales-tools">Overview</a>
          <a class="for-scroll" routerLink="/sales-forecast">Sales Forecasting</a>
          <a href="/document-sharing-and-analytics">Documents Insights</a>
          <a class="for-scroll" routerLink="/crm">Opportunity Insights</a>
          <a class="for-scroll" routerLink="/dealroom">Deal Room</a>
          <a class="for-scroll" routerLink="/sales-ai">Sales AI</a>
          <a class="for-scroll" routerLink="/sales-analytics">Sales Analytics</a>
          <a href="/security">Security</a>
        </div>

      </div>
      <div class="col-md-2 col-sm-6">
        <strong>ROLES</strong>
        <div class="links">
          <a class="for-scroll" routerLink="/chief-revenue-officer">Chief Revenue Officer/ VP Sales</a>
          <a class="for-scroll" routerLink="/sales-operations-manager">Sales Operations Manager</a>
          <a class="for-scroll" routerLink="/sales-manager">Sales Managers</a>
          <a class="for-scroll" routerLink="/sales-rep">Sales Rep</a>
        </div>
      </div>

      <div class="col-md-2 col-sm-6">
        <strong>COMPANY</strong>
        <div class="links">
          <a class="for-scroll" routerLink="/company">Relatas Company</a>
          <a class="for-scroll" routerLink="/faq">FAQ</a>
          <a class="for-scroll" routerLink="/terms">Terms and Conditions</a>
          <a class="for-scroll" routerLink="/privacy">Privacy Policy</a>
          <a href="https://angel.co/relatas">Jobs</a>
        </div>
      </div>
      <div class="col-md-1 col-sm-6" style="padding:0;">
        <strong>RESOURCES</strong>
        <div class="links">
          <a class="for-scroll" routerLink="/sales-ai-ebook">Sales AI</a>
          <a class="for-scroll" routerLink="/white-paper">White Paper</a>
          <a class="for-scroll" routerLink="/case-studies">Case Studies</a>
          <a class="for-scroll" routerLink="/use-cases">Use Cases</a>
          <a href="https://blog.relatas.com/">Sales AI Blog</a>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 links">
        <strong>CONTACT US</strong>
        <p style="margin: 0;">
          Address: 38350 Fremont Blvd, Suite 203, Fremont, CA 94536
        </p>
        <p style="margin: 0;">
          Email: <a href="mailto:hello@relatas.com">hello@relatas.com</a>
        </p>

        <a href="https://play.google.com/store/apps/details?id=com.relatas.android&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
           alt="Get it on Google Play"><img src="assets/website/googleplay.jpg"></a>

<!--        <div class="social-links">-->
<!--          <ul class="list-unstyled">-->
<!--            <li><a href="https://www.facebook.com/relatasHQ"><i class="fab fa-facebook"></i></a></li>-->
<!--            <li><a href="https://twitter.com/relatasHQ"><i class="fab fa-twitter-square"></i></a></li>-->
<!--            <li><a href="https://www.linkedin.com/company/relatas"><i class="fab fa-linkedin"></i></a></li>-->
<!--          </ul>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
