<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-3">
            <strong>PRODUCT</strong>
            <div class="links">
              <a href="#">Overview</a>
              <a href="#">Forecast Management</a>
              <a href="#">Pipeline Inspection</a>
              <a href="#">Opportunity Management</a>
              <a href="#">Security</a>
            </div>
          </div>
          <div class="col-3">
            <strong>ROLE</strong>
            <div class="links">
              <a href="#">Overview</a>
              <a href="#">Forecast Management</a>
              <a href="#">Pipeline Inspection</a>
              <a href="#">Opportunity Management</a>
              <a href="#">Security</a>
            </div>
          </div>
          <div class="col-3">
            <strong>CUSTOMERS</strong>
            <div class="links">
              <a href="#">Overview</a>
              <a href="#">Forecast Management</a>
              <a href="#">Pipeline Inspection</a>
              <a href="#">Opportunity Management</a>
              <a href="#">Security</a>
            </div>
          </div>
          <div class="col-3">
            <strong>COMPANY</strong>
            <div class="links">
              <a href="#">Overview</a>
              <a href="#">Forecast Management</a>
              <a href="#">Pipeline Inspection</a>
              <a href="#">Opportunity Management</a>
              <a href="#">Security</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <label class="text-uppercase">
          join the elite group of people who have also signed up for the mailing list.
        </label>
        <div class="input-field">
          <input type="text" placeholder="Enter your email">
          <button class="orange-btn">sign up</button>
        </div>
      </div>

    </div>
  </div>
</div>
