<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="row">

          <div class="col-3">
            <strong>CONTACT US</strong>
            <p>Address: 38350 Fremont Blvd, Suite 203, Fremont, CA 94536</p>
            <p>Email: <a class="text-white" href="mailto:hello@relatas.com">hello@relatas.com</a></p>
          </div>
          <div class="col-3">
            <strong>PRODUCT</strong>
            <div class="links">
              <a href="#">Overview</a>
              <a href="#">Forecast Management</a>
              <a href="#">Pipeline Inspection</a>
              <a href="#">Opportunity Management</a>
              <a href="#">Security</a>
            </div>
          </div>
          <div class="col-3">
            <strong>ROLE</strong>
            <div class="links">
              <a href="#">Overview</a>
              <a href="#">Forecast Management</a>
              <a href="#">Pipeline Inspection</a>
              <a href="#">Opportunity Management</a>
              <a href="#">Security</a>
            </div>
          </div>
          <div class="col-3">
            <strong>COMPANY</strong>
            <div class="links">
              <a routerlink="/company">Our Company</a>
              <a routerlink="/faq">FAQ</a>
              <a routerlink="/terms">Terms and Conditions</a>
            </div>
            <br>
            <strong>CUSTOMERS</strong>
            <div class="links">
              <a href="#">Overview</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <label class="text-uppercase">
          join the elite group of people who have also signed up for the mailing list.
        </label>
        <div class="input-field">
          <input type="text" placeholder="Enter your email">
          <button class="orange-btn">sign up</button>
        </div>
        <div class="social-links">
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/relatasHQ"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/relatasHQ"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="https://www.linkedin.com/company/relatas"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
