.footer {
  background: var(--blue);
  font-size: 0.75rem;
  padding-top: 1%;
  padding-bottom: 1%;
}

.footer .links {
  margin-top: 2px;
}

.footer .links a {
  color: #fff;
  display: block;
}

.input-field input {
  padding: 0 5px;
  border-radius: 2px;
  border: 2px solid #fff;
}

.footer input {
  height: 32px;
  width: 220px;
}

.footer .orange-btn {
  height: 32px;
}

.social-links ul li {
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
}

.social-links .fab {
  color: #fff;
  font-size: 1.5rem;
}
