<div id="sales-ops">
</div>

<div class="margintb25">
  <div class="container">
    <h3 class="text-center text-uppercase bold" style="margin: 1.5rem 0 1.75rem 0;">
      <span class="text-blue">Sales </span> Rep
    </h3>

    <p class="text-center">
      No CRM updation. Spend more time selling.
    </p>

    <div class="roles-2">
      <strong class="lite-550">
        The problem - Who has time to sell when we have to update all the archaic systems.
      </strong>
      <div class="bg-grey-litest clearfix">
                  <div class="pull-left">
          <img src="assets/website/productivity.png">
        </div>
        <div class="pull-left">
          <strong class="lite-550">Solution: Improve your productivity</strong>
          <div class="solution">
            No-interaction-data entry. Focus your time and energy on more sales. Send mails to customers directly from Relatas, with Relatas AI suggetsed emails.
          </div>
        </div>
      </div>
    </div>

    <div class="roles-2">
      <strong class="lite-550">
        The problem - Don’t know which contacts one is losing touch with and to maximise sales visits.
      </strong>
      <div class="bg-grey-litest clearfix">
                  <div class="pull-left">
          <img src="assets/website/maximise.png">
        </div>
        <div class="pull-left">

          <strong class="lite-550">Solution: Losing touch contacts & know who to meet when traveling to a new location</strong>
          <div class="solution">
            Relatas analyses 7 key parameters for all your contacts and highlights
            ones you are losing touch with. Know who to meet when you are traveling
            to a new location. Build better relationships by
            reconnecting with losing touch contacts. Relatas goes a step forward
            and creates a email customized to that contact.
          </div>
        </div>
      </div>
    </div>

    <div class="roles-2">
      <strong class="lite-550">The problem – Limited visibility into which deals to focus on. </strong>
      <div class="bg-grey-litest clearfix">
                  <div class="pull-left">
          <img src="assets/website/focus.png">
        </div>
        <div class="pull-left">

          <strong class="lite-550">Solution: With Relatas deals-at-risk, get real-time visibility to the deals to focus on.</strong>
          <div class="solution">
            Relatas learns how you sell and gives you insights and alerts based on
            your selling pattern. Extract intelligence from your interactions with customers
            like sentiment, propensity to buy, priority of email. Manage key documents in your deal and track it.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
