<div id="sales-ops">
</div>

<div class="margintb25">
  <div class="container">
    <h3 class="text-center text-uppercase bold" style="margin: 1.5rem 0 1.75rem 0;">
      <span class="text-blue">Chief Revenue Officer </span> / VP Sales
    </h3>

    <p class="text-center">
      Leverage accurate predictions and improve forecast accuracy to grow revenue
    </p>

    <div class="roles-2">
      <strong class="lite-550">The problem - Forecasting with multiple sales team members over excel sheets with no
        real-time data is a problem.
      </strong>
      <div class="bg-grey-litest clearfix">
        <div class="pull-left">
          <img src="assets/website/cro.png">
        </div>
        <div class="pull-left">
          <strong class="lite-550">Solution</strong>
          <div class="solution">
            Track commits and probability of achieving quarterly/annual targets. Automatically factor in
            external variables
            like seasonality. Be alerted when there is a significant change in key metrics.
          </div>
        </div>
      </div>
    </div>

    <div class="roles-2">
      <strong class="lite-550">The problem - Prevent unwanted surprises.</strong>
      <div class="bg-grey-litest clearfix">
        <div class="pull-left">
          <img src="assets/website/surprise.png">
        </div>
        <div class="pull-left">
          <strong class="lite-550">Solution</strong>
          <div class="solution">
            Get alerted when when key deals are at risk. Know why you are winning or losing deals. Understand which
            products to focus on.
          </div>
        </div>
      </div>
    </div>

    <div class="roles-2">
      <strong class="lite-550">The problem - Sales Tool Adoption - Most cases, the senior management have to
        rely on stale data because the team doesn't use the tool.</strong>
      <div class="bg-grey-litest clearfix">

        <div class="pull-left">
          <img src="assets/website/teamplay.png">
        </div>
        <div class="pull-left">

          <strong class="lite-550">Solution</strong>
          <div class="solution">
            Relatas provides unprecedented value to sales reps and the management with actionable insights.
            In most cases, sales teams using Relatas has seen adoption of over 87%.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
