<div id="sales-ops">
</div>

<div class="margintb25">
  <div class="container">
    <h3 class="text-center text-uppercase bold" style="margin: 1.5rem 0 1.75rem 0;">
      <span class="text-blue">Chief Revenue Officer </span> / VP Sales
    </h3>

    <p class="text-center">
      Leverage accurate predictions and improve forecast accuracy to grow revenue
    </p>

    <div class="roles-2">
      <strong class="lite-550">Problems - Forecasting with multiple sales team members over excel sheets with no
        real-time data is a problem
      </strong>
      <div class="bg-grey-litest clearfix">
        <div class="pull-left">
          <img src="assets/website/cro.png">
        </div>
        <div class="pull-left">
          <strong class="lite-550">Solution</strong>
          <div class="solution">
            Track commits and probability of achieving quarterly/annual targets. Automatically factor in
            external variables
            like seasonality. Be alerted when there is a significant change in key metrics
          </div>
        </div>
      </div>
    </div>

    <div class="roles-2">
      <strong class="lite-550">Problem - Prevent unwanted surprises</strong>
      <div class="bg-grey-litest clearfix">
        <div class="pull-left">
          <img src="assets/website/surprise.png">
        </div>
        <div class="pull-left">
          <strong class="lite-550">Solution</strong>
          <div class="solution">
            Get alerted when when key deals are at risk. Know why you are winning or losing deals. Understand which
            products to focus on
          </div>
        </div>
      </div>
    </div>

    <div class="roles-2">
      <strong class="lite-550">Problem - Team Play</strong>
      <div class="bg-grey-litest clearfix">

        <div class="pull-left">
          <img src="assets/website/teamplay.png">
        </div>
        <div class="pull-left">

          <strong class="lite-550">Solution</strong>
          <div class="solution">
            Replicate success of your team. Onboard your team members faster.
            Get faster alignment of new sales teams members faster.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
