<div class="bg-grey-litest">

  <div id="product">
  </div>

  <div class="margintb25">

    <div class="container">
      <h3 class="text-center text-uppercase bold" style="margin: 1.5rem 0 1.75rem 0;">
        sales is difficult. Relatas makes it easy.
      </h3>

      <div class="row product-snapshot">
        <div class="col-md-4">
          <h3 class="bold">
            The AI Platform that successful sales teams use for sales execution and forecasting.
          </h3>
          <p>
            Relatas Sales AI Platform | Connects your sales team with data they need to improve sales
            results. Powered by Artificial Intelligence, Relatas eliminates blind spots, reduces sales cycles,
            increases probability of closing deals faster and shows the entire sales organization where to
            focus to close more business.
          </p>
        </div>
        <div class="col-md-8">
          <img src="assets/website/prod-snapshot.jpg">
        </div>
      </div>

      <h3 class="text-center text-uppercase bold" style="margin-top: 45px; margin-bottom: 5px;">
      </h3>

      <div class="row margintb25 prod-rajani">
        <div class="abs">
          <img src="assets/website/rajani.jpg">
        </div>
        <div class="col-9 offset-2">
          <p>
            We have information overload today, with so many tools and social sites that we need to keep up with.
            It is overwhelming to separate out what is relevant and prioritise accordingly.
            I like how Relatas seamlessly works with the tools I already use and uses cognitive
            technology to help me keep on top of what is time critical.
          </p>
          <p style="font-weight: 600;"> - Rajani Ramanathan
            Former COO, Technology & Products, Salesforce</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="margintb25 text-center" style="padding-top: 25px;">
  <div class="container">
    <div>
      <h3 class="text-uppercase bold">
        SOLUTION
      </h3>
      Relatas helps sales teams with sales execution and drives forecast predictabiliy across sales organisation.

      <p>Relatas leverages AI to help you get answers for key questions about your team, accounts, pipeline
        and forecast.</p>
    </div>

    <div class="row product-spr">
      <div class="col-sm-3" ontouchstart="this.classList.toggle('hover');">
        <div class="flip-container">
          <div class="flipper">
            <div class="front f-one">
              <img src="assets/website/salesOp.png">
              How is the opportunity movement this quarter?
            </div>
            <div class="back b-one">
              <h5 class="bold" style="font-size: 1rem;">Sales Operation</h5>
              Spot pipeline risks and hidden insights to understand the health of the pipeline.<br><br>
              <a style="color: #fff; text-decoration: underline;" href="/sales-operations">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3" ontouchstart="this.classList.toggle('hover');">
        <div class="flip-container">

          <div class="flipper">
            <div class="front f-two">
              <img src="assets/website/frmgmt.png">
              Is the pipeline healthy to meet this Quarter numbers?
            </div>
            <div class="back b-two">
              <h5 class="bold" style="font-size: 1rem;">Forecast Management</h5>
              Easily capture the forecast, commit numbers, and let Relatas highlight the risks.<br><br>
              <a style="color: #fff; text-decoration: underline;" href="/sales-forecasting">Learn More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3" ontouchstart="this.classList.toggle('hover');">
        <div class="flip-container">

          <div class="flipper">
            <div class="front f-three">
              <img src="assets/website/tmmgmt.png">
              How can the team perform better?
            </div>
            <div class="back b-three">
              <h5 class="bold" style="font-size: 1rem;">Team Management</h5>
              Get visibility into activity against accounts and opportunities that team is focusing on.<br><br>
              <a style="color: #fff; text-decoration: underline;" href="/team-management">Learn More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3" ontouchstart="this.classList.toggle('hover');">
        <div class="flip-container">
          <div class="flipper">
            <div class="front f-four">
              <img src="assets/website/accmgmt.png">
              What accounts should our sales team focus on and what are the deals at risk?
            </div>
            <div class="back b-four">
              <h5 class="bold" style="font-size: 1rem;">Account Management</h5>
              Spend less time updating CRM and more time selling and focusing on the right deals.<br><br>
              <a style="color: #fff; text-decoration: underline;" href="/account-management">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center bg-grey-litest" style="margin-top: 25px;padding-top: 25px;">
  <div class="container">
    <div>
      <h3 class="text-uppercase bold">
        HOW IT WORKS
      </h3>
      Relatas is built on the foundation of no-data-entry CRM, augmented with Artificial Intelligence to provide real-time actionable insights
      <div style="margin-top: 15px;">
        <img src="assets/website/product-silos.png" class="prod-silos">
      </div>
    </div>
    <div class="row" style="margin-top: 25px;">
      <div class="col-sm-4">
        <div class="box-bg">
          <img src="assets/website/prod-silos-1.png">
          <h5 class="bold lite-550">Auto Data Capture</h5>
          Relatas automatically captures sales teams data –CRM data, emails, calls, SMS, meetings, documents.
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box-bg">
          <img src="assets/website/prod-silos-2.png">
          <h5 class="bold lite-550">Analyse</h5>
          Relatas machine learning engine uses Artificial Intelligence to identify risks and surfaces actionable insights.
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box-bg">
          <img src="assets/website/prod-silos-3.png">
          <h5 class="bold lite-550">Deliver</h5>
          Every sales person is unique. Relatas adapts to each sales persons selling pattern
          and highlights insights for faster sales and better predictability.
        </div>
      </div>
    </div>
  </div>
</div>
