
<div id="sales-ops">
</div>

<div class="margintb25">

  <div class="container">
    <h3 class="text-center text-uppercase bold" style="margin: 1.5rem 0 1.75rem 0;">
      <span class="text-blue">Sales </span> Operations
    </h3>

    <p class="text-center">
      With Relatas your sales operations is simple, intuitive and actionable.
    </p>
    <div class="row roles">
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Get real-time pipeline visibility with authentic data </strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>
              Relatas comines data from various data sources like email, calls, SMS, calendar, opportunity, financial data and interaction patterns to give you enhanced visibility into your pipeline.
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Relatas’s intuitive user interface helps sales leadership and field sales team to collaborate on real-time data enhanced by artificial intelligence.
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Already using a CRM solution to manage your pipeline? No problem, Relatas integrates with all popular CRM solutions.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Manage and update opportunities on the go</strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>
              Update opportunities on the go with the Relatas Mobile app.
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Get notifications about losing touch with contacts and deals at risk.
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Get actionable insights for each opportunity and intervene at the right time.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>De-risk Opportunities with insights powered by AI </strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>
              Know the probability of winning an opportunity based on historical data and interactions with the customer.
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Strategize about winning opportunities rather than gathering facts.
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              See opportunity timeline with stages, interactions,  tasks etc
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
