#sales-ops {
  background: url(assets/website/salesoperations2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 400px;
}

.roles .bg-grey-litest {
  padding: 20px;
  min-height: 375px;
  margin: 10px 0;
}

.roles .bg-grey-litest ul {
  margin-top: 15px;
}

.roles .bg-grey-litest li {
  margin: 15px 0;
}

@media screen and (max-width: 780px) {
  .roles .bg-grey-litest {
    min-height: 305px;
  }
}
