<table border="0" style="margin-top: 75px;" width = "75%" align="center">

  <tr>
    <td align="center" ><h1 class="page-title down-arr-offset">RELATAS PRIVACY POLICY</h1></td>

  </tr>


  <tr>

    <td align="left" >

      <!-- Privacy Policy Start-->

      <h2 class="normal fs23 text-left">Created:  18 Aug 2014 ("Effective Date")<br>

        Last Modified: 25 May 2018</h2> <br>

      <b>Scope of This Policy</b><br>

      Relatas, Inc. (collectively, "Relatas", "we" or "us"), understands the importance of privacy. This Privacy Policy ("Policy") describes how we collect, use, and disclose your information, including personal information, that we collect through our website www.relatas.com (the "Site"), our mobile applications (the "App"), and the Relatas services available through the App and Site.  In this Policy, "Services" means collectively, the Site and App, and the services available through the Site and App.  The Relatas Services help you connect with and build better relationships with your contacts.<br><br>

      By visiting the Site, using or downloading the App, or using any of our Services, you agree that your personal information will be handled as described in this Policy. Your use of our Services, and any dispute over privacy, is subject to this Policy and our Terms of Use, including its applicable limitations on damages and the resolution of disputes. The Terms of Use are incorporated by reference into this Policy.<br><br>

      <b><i>Information We Collect</i></b><br>
      By downloading and enabling the Service, you are authorizing Relatas to access and store all of the foregoing types of Information:
      <ul>
        <li>
          Information you submit as part of the registration process such as your name and email address
        </li>
        <li>
          Information you elect to submit (including, without limitation, any text, documents,
          images or other content or materials) to any areas of the Service that are accessible by
          other Service users within your organization ("User Submissions"). Such information may be
          shared with other Services users within your organization - as elected by you via the Service.
          For example, if you update your opportunity data or upload an image, that may be visible to other Service users within your organization.
        </li>
        <li>
          Information that Relatas may obtain from third-party services (both Personal and Enterprise
          Information, such as CRM data, files, email/calendar information, and contacts) that Relatas
          requires for the operation of the Relatas service.
        </li>
        <li>
          For Google Apps/Gmail users/ Outlook users, Relatas collects email and calendar metadata for
          the sole business-related use of the user and Relatas Client. Such information is never provided
          or disclosed to anyone other than the user and users specifically authorized by the Relatas.
        </li>

      </ul>

      You acknowledge and agree that you will not (i) provide us with any information that you do not have the right to provide, or (ii) share, via the Service, any information you do not have the right to share (such as information that is confidential to any third party and that you are not authorized to share with your intended recipients).

      <br>
      <br>
      Note that certain features of the Service may allow you to import information from third party services (such as Salesforce) ("Third Party Services"). By requesting that Relatas import such information, you authorize Relatas to use your Third Party Service username and password to access the applicable Third Party Service Account. This authentication process is managed by the applicable Third Party Service provider. Relatas will not use your Third Party Service account credentials for any other purpose.
      <br><br>
      We may collect information about you directly from you, from third parties (such as your employer), from third party accounts that you connect through the Services, as well as automatically through your use of our Site or Services.<br><br>



      <b><i>Google/ Office 365 Information We Collect</i></b><br>

      <li> Authentication - Your user authentication during Google/ Office365 login is used to authenticate you with your Google/ Office365 authentication.

      <li> User profile information - Your user profile information from Google/ Office365 is used to populate your data on Relatas e.g. your Name/ Designation/ Company, etc.

      <li> Calendar - with Calendar request access, Relatas shows you the interaction details of who you are going to meet and the relationship strength with that person along with the recent interaction and other insights

      <li> Email - with email request access, Relatas shows you all your email interactions and Relatas AI engine also shows you if you have recieved an important mail or a mail that you forgot to respond to, which you can reply directly from Relatas.

      <li> SMS / call (mobile app) - with SMS/ call access, Relatas understands who you are losing touch with and reminds you at the appropriate time to get in touch with them.<br> <br>



        All interaction data is used to show you the interactions directly in Relatas and make sense of your interactions to respond directly from Relatas to help provide a seamless experience. The reason we request your permission to send mails, is to provide you with single unified insightful experience within Relatas without you hoping on to different screen just for sending mails. For example, Relatas would discover lost contacts and provide you with relevant content to rekindle the client-customer relationship. With a click of button, you can seamlessly send mails from Relatas instead of tabbing back to mails with the copied content.<br><br>



        <b><i>Registration Information</i></b><br> In order to use the Services, you must register for an account with us.  In order to register for an account, you must provide us with certain information, including your name, email address and login credentials, and if you have corporate action, your title and company name. We also may collect other optional information, such as additional contact information (e.g., your mobile number, office number), company and job details, birthdate, and other third party accounts (see below). <br><br>



        <b><i>Contests and Promotions</i></b><br>  In addition, we may run contests or promotions, or ask you to complete to user surveys or questionnaires; your participation is optional, but if you participate, we may collect addition information from you.  <br><br>



        <b><i>Third Party Accounts</i></b><br>  To use the Services, you must connect your Outlook or Google Mail account with the Services, and grant us access to your Google and/or Outlook calendar, contacts and emails. If you use the Relatas mobile app, you must also grant us access to your mobile device contacts, calls, calendars and SMS, and emails.  As part of this access, the Services will access your emails, SMS, and calendar, calls (if you use the mobile app).  In addition, you may have the option of connecting about third part accounts, such as LinkedIn, Facebook and Twitter, and granting us permission to access information from these accounts as part of the Services.<br><br>



        <b><i>Location Information</i></b><br> If you grant us permission, we will access your location information from your mobile device. In addition, we also track location through IP address.<br><br>



        <b><i>Enterprise Accounts</i></b><br>  If you are accessing the Services through your employer's enterprise account, we may receive certain information from your employer, such as your name and contact information.<br><br>





        <b><i>Blogs and User Accounts</i></b><br>  If you comment on a blog or otherwise submit a user comment, we collect your name, location, the content and other information you submit.<br><br>



        <b><i>Other Information We Collect Automatically</i></b><br>  We also may automatically collect the following information about your use of our Services (including our App) through cookies, web beacons, and other technologies: your domain name; your browser type and operating system; page views; links you click; IP address; location information; the length of time you visit our Site and or use our Services; referring URL; access date and time; mobile device ID; location and language information; device name and model; operating system type, name, and version; your activities within the Services; and the length of time that you are logged into our Services.  We may combine this information with other information that we have collected about you, including, where applicable, your user name, name, and other personal information  Please see the section "Cookies and Other Tracking Mechanisms" below for more information. <br><br>



        <b>How We Use the Information We Collect About You</b><br>

        We use your information in order to provide our services, such as to help you make connections, plan and build stronger relationships with your contacts, share your network of contacts with other users, make recommendations about what connections to reach out to, analyze your communications, interactions and contacts to help you understand who you are losing touch with and plan future activities.  <br><br>



        <b><i>Your Contacts and Extended Network</i></b><br> You and your relationships to your contacts are added to the Relatas network. This means that Relatas users in your extended network may be able to see who you are connected to.  Your contacts can also request an introduction through you to one of your contacts.  You are in control of your personal network. If another Relatas user wants an introduction to one of your contacts, they must ask you. Other Relatas users cannot see your contact information unless (a) they are connected to you or (b) have already interacted with you.<br><br>



        <b><i>Your Communications</i></b><br>  We access your communications to help you manage your interactions with contacts, to provide you insights and analysis on your communications and interactions, and to help you plan future interactions.    <br><br>



        In addition, we may use your information, including personal information, as follows:<br>



      <li>To provide our Services to you, to communicate with you about your use of our Services, to respond to your inquiries, to fulfill your orders, and for other customer service purposes.

      <li>To tailor the content and information that we may send or display to you, to offer location customization, and personalized help and suggestions, and to otherwise personalize your experiences while using the Site or our Services.

      <li>For marketing and promotional purposes. For example, we may use your information, such as your email address, to send you news and newsletters, special offers, and promotions, or to otherwise contact you about products or information we think may interest you. We also may use the information that we learn about you to assist us in advertising our Services on third party websites.

      <li>To better understand how users access and use our Site and Services, both on an aggregated and individualized basis, in order to improve our Services and respond to user desires and preferences, develop additional products and services, and for other research and analytical purposes.

      <li>To administer our contests, promotions and surveys, to analyze the results for research purposes, and to comply with legal requirements;

      <li>For other purposes where required by law or consented to by you.<br><br>



        <b>Sharing Your Information</b><br>

        We may share your information, including your personal information, as follows:<br>



      <li>Users of Our Services. Any comments or other information that you post to our Services, or that you submit to us as feedback, may be available to all other users.  In addition, as part of our networking features, users you are connected with can see your profile and the names of your contacts, and may ask you for an introduction to your contacts.

      <li>Employers.  If you access the Service through your employer's enterprise Relatas account, your employer will have administrative access over your account, and can see your contacts and information about the number and type of your interactions; your employers do not have access to the contents of your communications through the Services.

      <li>Service Providers. We may disclose the information we collect from you to third party vendors, service providers, contractors or agents who perform services for us. These service providers may only use the information we share with them on our behalf, in order to provide services to us.

      <li>Affiliates. We may disclose the information we collect from you to affiliates and subsidiaries of Relatas; however, if we do so, their use and disclosure of your information will be subject to this Policy.

      <li>Business Transfers. If we are acquired by or merged with another company, if substantially all of our assets are transferred to another company, or as part of a bankruptcy proceeding, we may transfer the information we have collected about you to the acquiring company.

      <li>In Response to Legal Process. We also may disclose the information we collect from you in order to comply with the law, a judicial proceeding, court order, subpoena, or other legal process.

      <li>To Protect Us and Others. We also may disclose the information we collect from you where we believe it is necessary to investigate, prevent or take action regarding illegal activities, suspected fraud, situations involving potential threats to the safety of any person or violations of this Policy, or as evidence in litigation in which we are involved.

        Aggregate and Anonymized Information. We may share aggregate or anonymized information about users with third parties for marketing, advertising, research or similar purposes. For example, if we display advertisements on behalf of a third party, we may share aggregate, demographic information with that third party about the users to whom we displayed the advertisements.<br><br>



        <b>Cookies and Other Tracking</b><br>

        As mentioned above, we might use cookies and other tracking mechanisms to track information about your use of our Site or services. We may combine this information with other personal information we collect from you. <br><br>



        <b><i>Do-Not-Track</i></b><br>
        Currently, various browsers — including Internet Explorer, Firefox, and Safari — offer a “do not track” or “DNT” option that relies on a technology known as a DNT header, which sends a signal to Web sites’ visited by the user about the user's browser DNT preference setting. Relatas does not currently commit to responding to browsers' DNT signals with respect to the Company's Web sites, in part, because no common industry standard for DNT has been adopted by industry groups, technology companies or regulators, including no consistent standard of interpreting user intent. Relatas takes privacy and meaningful choice seriously and will make efforts to continue to monitor developments around DNT browser technology and the implementation of a standard. Currently, our systems do not recognize browser "do-not-track" requests. You may, however, disable certain tracking as discussed in this section (e.g., by disabling cookies or opting out of ad networks).

        <br><br>



        <b><i>Cookies</i></b><br>  Cookies are alphanumeric identifiers that we transfer to your computer's hard drive through your web browser for record-keeping purposes. We might use cookies to uniquely identify you, in order to help us to process your transactions and requests, to track aggregate and statistical information about user activity, and to display advertising both on our Site and on third-party sites. The Help portion of the toolbar on most browsers will tell you how to prevent your computer from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. If you disable cookies some features of our Site may not function.<br><br>



        <b><i>Clear GIFs</i></b><br>  Clear GIFs (a.k.a. web beacons, web bugs or pixel tags) are tiny graphics with a unique identifier, similar in function to cookies. In contrast to cookies, though, clear GIFs are embedded invisibly on web pages, not stored on your hard drive. We might use clear GIFs to track the activities of Site visitors and App users, help us manage content, and compile statistics about usage. We and our third party service providers also might use clear GIFs in HTML e-mails to our customers, to help us track e-mail response rates, identify when our e-mails are viewed, and track whether our e-mails are forwarded.<br><br>



        <b><i>Third-Party Analytics</i></b><br>   We also use automated devices and applications, such as Google Analytics, Mixpanel and Kissmetrics to evaluate usage of our Sites and the services we provide; you can opt out of these tools as follows: Google Analytics, Mixpanel and Kissmetrics.  We use these tools to gather non-personal information about users to help us improve our services, performance and user experiences.  These analytics providers may use cookies and other technologies to perform their services, and may combine the information that they collect about you on our Sites with other information that they have collected.  This Policy does not cover such third parties' use of the data.<br><br>



        <b>Marketing Choices</b><br>

        We may send periodic promotional or informational emails to you, as well as transactional emails (such as notifications and feedback requests). You may opt-out of such communications by following the opt-out instructions contained in the e-mail. Please note that it may take up to 10 business days for us to process opt-out requests. If you opt-out of receiving emails about recommendations or other information we think may interest you, we may still send you e-mails about your account or any Services you have requested or received from us. We may still send you mails regarding your meetings details, interaction reports. You may change the frequency of interaction reports under settings.<br><br>



        <b>Plug-ins and Social Media Widgets </b><br>

        Our Site may include social media features and widgets, such as the Facebook Like button and the "Share this" button, as well as other interactive mini-programs that run on our Site and Services and enable certain features to work (e.g., blogs and comments). These features may collect your IP address, which page you are visiting on our Site, and may set a cookie to enable the feature to function properly and for other purposes. These features are displayed on our Site, but are hosted by third parties, and are subject to their own privacy policies, not this one. Your interactions with these features are governed by the privacy policy of the company providing them. <br><br>



        <b>User-Generated Content</b><br>

        Portions of our Services, as well as surveys and other requests that we send to you via email or other method, may request or permit you to submit comments, feedback and other content; any information that you submit via one of these methods may be viewable to other visitors to our Site. We cannot prevent this information from being used in a manner that may violate this Policy, the law or your personal privacy.<br><br>



        <b>Third Party Links and Access to Site</b><br>

        The Services may contain links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our Site and to read the privacy statements of any other website that collects personally identifiable information.<br><br>



        <b>Correcting, Amending, and Deleting Personal Information</b><br>
        You may modify any account information that you have submitted by logging into your account and updating your information. <br><br>

        You may also delete your account if you like by emailing us at hello@relatas.com, and if you use the App, by also uninstalling the App.  Please note that copies of information that you have updated, modified or deleted may continue to reside in our systems for a period of time. In addition, we may maintain your name and email address and past interactions. This is because you might have interacted with other Relatas users and to service the existing Relatas users we need to retain those interactions and contact details.<br><br>
        <ul>
          <li><strong><i>Limitations on Deletion</i>:</strong></li>
          <li style="list-style: none">
            In addition, copies of your information may remain viewable elsewhere to the extent it has been publicly published by you or otherwise shared by you with others (such as your User Submissions).
            <br><br>We may also indefinitely retain and use any aggregated data derived from or incorporating your Information after you update or delete it, but not in a manner that would identify you personally.
            <br><br>We may also retain Information collected by Third Party usage tracking services in aggregate form, for the purposes of maintaining historical information on usage of our services.
          </li>
        </ul>
        <br>
        <b>Choice</b>
        <br>
        We may partner with a third party to display advertising on our website or to manage our advertising on other sites. Please note you will continue to receive generic ads.
        <br><br>You may sign-up to receive email or newsletter or other communications from us. If you would like to discontinue receiving this information, you may update your email preferences by using the "Unsubscribe" link found in emails we send to you or by contacting us at hello@relatas.com
        <br><br>We collect information for our Clients, if you are a customer of one of our Clients and would no longer like to be contacted by one of our Clients that use our service, please contact the client that you interact with directly.
        <br>
        <br>
        <b>What About Third-Party Services Relatas Connects To?</b>
        <br>
        Relatas links to other services, such as Salesforce. Relatas does not access any information from these third-party services without your authorization, or by the authorization of your organization. You grant Relatas this authorization when you connect these services to Relatas, or when your organization's IT team authorizes these connections on your behalf. To opt out of connecting to these services, contact your organization.
        <br>
        <br>

        <b>International Transfers</b><br>

        The information we collect may be transferred to, used from and stored in the United States or other jurisdictions that may not guarantee the same level of protection of personal information as the jurisdictions in which you reside.  By using the Services, you consent to any such transfer of information outside of the jurisdiction in which you reside.<br><br>



        <b>Children's Privacy</b><br>

        Our Services are not designed for children under 13. If we discover that a child under 13 has provided us with personal information, we will delete such information from our systems.<br><br>



        <b>Changes to this Privacy Policy</b><br>

        We may change our Privacy Policy from time to time. If we change our Privacy Policy, we will post those changes on www.RELATAS.com/privacy. We encourage you to periodically review this Privacy Policy to stay informed about how we are protecting the Personally Identifiable Information we collect. If we make any changes to this Policy that materially affect our practices with regard to the personal information we have previously collected from you, we will endeavor to provide you with notice in advance of such change by highlighting the change on our Site, or notifying users via email.  Your continued use of this Site constitutes your agreement to this Privacy Policy and any updates. <br><br>



        <b>Contact Us</b><br>

        If you have any questions regarding our Privacy Policy, please contact us at hello@relatas.com. <br><br>

        <!-- Privacy Policy End -->

    </td>

  </tr>

</table>


