
<div id="sales-ops">
  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <h1>
          No-Data-Entry CRM
        </h1>
        <p>
          Relatas is a first of its kind "No-Data-Entry" CRM which auto captures activities and creates opportunities that are not in your pipeline.
        </p>
        <p>
          You can also create multiple proposals/ quotations templates and share and track them.
        </p>
        <p>
          Yes, we built a CRM customized for Distributors and Partner sales.
        </p>
      </div>
      <div class="col-md-7">
        <img src="assets/hero/hero_img_crm.png">
      </div>
    </div>
  </div>
</div>

<div class="margintb25 text-center">
  <p>Professionals from 1000+ companies from 300+ global cities rely on Relatas</p>
  <img src="assets/website/banner61.png">
</div>

<div class="margintb25 review">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/website/sunil.jpg">
    </div>
    <div class="col-md-9">
      <div class="padding">
        <h2>
          "By using Relatas, our team members are able to manage their client relationships better which
          helps them close deals faster. Relatas also gives us the insights we require to be agile and
          informed in our decision making."
        </h2>
        <strong>Sunil Pillai</strong>
        <p>Chairman, iValue</p>
      </div>
    </div>
  </div>
</div>

<div class="margintb25 text-center case-studies">
<a href="/sales-resources?type=casestudies">  <img src="assets/landingpage/icon_casestudies.png">
  <strong class="text-uppercase">case studies</strong></a>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/hero/img_performance.png">
      </div>
      <div class="col-md-6 img-txt">
        <h1>
          Fact:
        </h1>
        <h4>
          You can improve your sales forecast
        </h4>
        <p>
          Relatas sales AI tracks multiple parameters to help you understand what is not working and suggest corrective actions. Relatas guides you to meet your target.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <h4>
          You can improve your sales forecast
        </h4>
        <p>
          Relatas sales AI tracks multiple parameters to help you understand what is not working and suggest corrective actions. Relatas guides you to meet your target.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img-txt">
        <img src="assets/website/forecast/img_performance.png">
      </div>
    </div>
  </div>
</div>

<div class="container card-view">
  <div class="row">
    <div class="col-md-6">
      <h1>
        Why Relatas CRM for Sales Distribution & Partner Management?
      </h1>
    </div>
    <div class="col-md-6">
      <div class="card-box">
        <h4>
          COMMIT CALL ACCURACY
        </h4>
        <p>
          Tired of team follow ups for commit calls?
        </p>
        <section>
          Get true picture of what is happening on the ground with Opportunity Insights during commit calls. Virtual Deals Rooms to collaborate and discuss each deal during commit calls.
        </section>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 right">
      <div class="card-box">
        <h4>
          DOCUMENT INSIGHTS

        </h4>
        <p>
          Not able to track your proposals / Quotations?
        </p>
        <section>
          Create complex quotes or formal proposals. Manage multiple versions of Quotation directly in Relatas CRM. Relatas is loved by Sales reps because they can get all their job done in one place and also get page level analytics if your prospects have viewed them.
        </section>
      </div>
    </div>
    <div class="col-md-6 left">
      <div class="card-box">
        <h4>
          RENEWAL OPPORTUNITIES
        </h4>
        <p>
          Losing track of renewal opportunities?
        </p>
        <section>
          Relatas stays on top of all your renewal opportunities highlights the same to you much before the due date.
        </section>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 right">
      <div class="card-box">
        <h4>
          PARTNER/ DISTRIBUTOR MANAGEMENT
        </h4>
        <p>
          Unable to manage relationships?

        </p>
        <section>
          Manage your sales force, manufacturer’s reps or an OEM Channel Partner. Relatas provides a highly detailed, yet simple to use, suite of sales features. Understand and Manage relationships at different level.
        </section>
      </div>
    </div>
    <div class="col-md-6 left">
      <div class="card-box">

        <h4>
          SALES REPORTS
        </h4>
        <p>
          Organisation-wide real time reports
        </p>
        <section>
          Forecasting accuracy within Relatas is the key. Relatas reduces gaps, inaccuracies and enhances efficiency when managing sales opportunities and gives the management org-wide real-time visibility.
        </section>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 right">
      <div class="card-box">
        <h4>
          SALES REPORTS

        </h4>
        <p>
          Organisation-wide real time reports
        </p>
        <section>
          Forecasting accuracy within Relatas is the key. Relatas reduces gaps, inaccuracies and enhances efficiency when managing sales opportunities and gives the management org-wide real-time visibility.
        </section>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/website/forecast/img_performance.png">
      </div>
      <div class="col-md-6 img-txt">
        <h4>
          Opportunity/ Pipeline Management

        </h4>
        <p>
          Relatas AI engine analyses patterns across sales teams to highlight which deals are at risk.
        </p>
        <p>
          Create Quotations directly from the opportunity

        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <h4>
          Account/ Partner/ Distributor Management

        </h4>
        <p>
          See which products are being sold to which account and where is the up-sell, cross-sell opportunity.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img-txt">
        <img src="assets/website/forecast/img_performance.png">
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/website/forecast/img_performance.png">
      </div>
      <div class="col-md-6 img-txt">
        <h4>
          Create Quotations/ Proposals
        </h4>
        <p>
          Create multiple versions of Quotations, Proposals, Invoices from templates and then send them directly from Relatas.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>
