/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";

// Theme customization
@import "theme/theme";

@import "sass/_fonts";
@import "sass/components/buttons";

.demo-bg .col-md-7,
#sales-ops .col-md-7 {
  text-align: right;
}

.demo-bg .col-md-6 img,
#sales-ops .col-md-6 img {
  width: 80%;
}

.review {
  min-height: 300px;
  overflow: hidden;
}

.review img {
  height: 300px;
  object-fit: cover;
}

.case-studies {
  cursor: pointer;
}

.case-studies img {
  width: 25px !important;
  margin: 5px;
}

.alternative {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.alternative h4,
.alternative h1 {
  font-weight: bold;
}

.alternative p {
  margin-top: 2.5rem;
  color: #666;
}

.alternative .col-md-6 img {
  width: 85%;
}

@media screen and (max-width: 780px) {
  #sales-ops h1 {
    margin-top: 0 !important;
  }

  .alternative {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .alternative p {
    margin-top: 0.5rem;
  }

}
