<div id="sales-ops">
</div>

<div class="margintb25">

  <div class="container">
    <h3 class="text-center text-uppercase bold" style="margin: 1.5rem 0 1.75rem 0;">
      <span class="text-blue">Team </span> Management
    </h3>

    <p class="text-center">
      Relatas gives sales managers actionable insights into rep activity augmented with opportunity insights, so 1:1 can be spent on strategizing key opportunities.
    </p>
    <div class="row roles">
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Replicate Team success</strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>

              Your team has won deals in the past.  Get insight into why they won and replicate it in future deals

            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Relatas’s recommendation engine creates tasks based on past performance.
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Get to know if you are interacting with the right people at your customer’s organization.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Real-time visibility into team performance</strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>
              Relatas tells you if you are your team is interacting with the right people in an opportunity.
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Intervene at the right time when deals are at risk.
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Avoid blind spots in a deal.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Improve team productivity </strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>

              Spend more time selling. Relatas’s requires minimal data entry and helps your team to do more of what they do best - selling.

            </li>
            <li>
              <i class="fas fa-angle-right"></i>

              Relatas gives insights into the right deals to focus on

            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Manage attrition better by retaining account intelligence automatically
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
