#sales-ops {
  //background: url();
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  //min-width: 100%;
  //min-height: 400px;
  margin-top: 5rem;
  text-align: center;
}

.roles .bg-grey-litest {
  padding: 20px;
  min-height: 450px;margin-bottom:15px;
}

.roles .bg-grey-litest ul {
  margin-top: 15px;
}

.roles .bg-grey-litest li {
  margin: 15px 0;
}
