<div class="position-relative">
<ul class="cb-slideshow list-unstyled">
  <li class="container position-relative">
    <span class="span-bg-img">
      <div class="hero-text">
         <h1 class="text-uppercase">
          SALES FORECAST, <br> <span>REINVENTED.</span>
           <!--<span>We makes it easy</span>-->
        </h1>
        <p>
          Successful sales teams rely on Relatas - Sales AI for Accurate Sales Forecasting
        </p>

        <div class="btns-grp-wrapper">
<!--          <button class="btn btn-primary font-weight-bold" routerLink="/demo">REQUEST DEMO</button>-->
          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
    </div>
    </span>
  </li>
</ul>
</div>

<div class="box lite-grey-bg">
  <div class="container">
    <h2 class="text-center">
      Experience <span class="text-blue">New-age Sales Forecasting</span>
    </h2>
    <p class="text-center">Professionals from 1000+ companies from 300+ global cities rely on Relatas</p>
    <img src="assets/website/banner61.png">
  </div>
</div>

<div class="box">
  <div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>
        Drive Forecast <br>
        <span class="text-blue">Accuracy</span>
      </h2>
      <p class="margin-t25">
        From actionable insights for Sales Executives to deep analytics for Sales Leaders with NO-DATA-ENTRY and NO-CHANGE-IN-BEHAVIOUR.
      </p>
      <button class="btn btn-sm btn-primary-text">
        SEE ALL FEATURES <i class="fas fa-arrow-right"></i>
      </button>

    </div>
    <div class="col-md-6">
      <img src="assets/landingpage/forecast_landing.png">
    </div>
  </div>
</div>
</div>

<div class="box">
  <div class="container text-center make-money">
    <h2>
      We make money when
      <span class="text-blue">you make money</span>
    </h2>
    <p>
      Some of our products are aligned with your outcomes, helping you grow and aligning with your needs.
    </p>
    <button class="btn btn-sm btn-primary for-scroll" routerLink="/demo">ASK HOW</button>
    <div class="row btn-fixes">
      <div class="col-md-4">
        <img src="assets/landingpage/money_logo01.png">
        <strong>CRM with Opportunity Insights
        </strong>
        <p>
          Relatas Opportunity Insights combines world-class opportunity expertise with algorithms that leverage millions of data points to win customers, all with NO-DATA-ENTRY.
        </p>
        <button class="btn btn-sm btn-primary-text for-scroll" routerLink="/crm">
          LEARN MORE <i class="fas fa-arrow-right"></i>
        </button>
      </div>

      <div class="col-md-4">
        <img src="assets/landingpage/money_logo02.png">
        <strong>
          Document Insights
        </strong>
        <p>
          Weather for your prospects or customers, create and send business critical documents with confidence and track page level analytics.

        </p>
        <button class="btn btn-sm btn-primary-text for-scroll" routerLink="/document-sharing-and-analytics">
          LEARN MORE <i class="fas fa-arrow-right"></i>
        </button>
      </div>

      <div class="col-md-4">
        <img src="assets/landingpage/money_logo03.png">
        <strong>
          Sales Forecast Insights

        </strong>
        <p>
          Organizations use Relatas to transform sales organizations into intelligence driven machines. Relatas removes data silos among team members and provides leadership with unified view of the organization.

        </p>
        <button class="btn btn-sm btn-primary-text for-scroll" routerLink="/sales-forecast">
          LEARN MORE <i class="fas fa-arrow-right"></i>
        </button>
      </div>

    </div>
  </div>
</div>

<div class="carousel-bg">
  <div class="container">

    <div id="carouselExampleIndicators" data-interval="false" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div classs="row">
            <div class="float-left">
              <img src="assets/landingpage/test_img01.png" alt="First slide">
            </div>
            <div class="float-left text-block">
              " I like how Relatas seamlessly works with the tools I already use and <strong>uses cognitive
              technology </strong> to help me keep on top of what is time critical! “

              <h4>
                <span class="bold">Rajani Ramanathan</span><br>Former COO, Technology & Products<br> Salesforce
              </h4>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div classs="row">
            <div class="float-left">
              <img src="assets/landingpage/img_sunil.png" alt="First slide">
            </div>
            <div class="float-left text-block">
              "By using Relatas, our team members are able to manage their client relationships better which
              helps them <strong>close deals faster</strong>. Relatas also gives us the insights we require to <strong>be agile and
              informed in our decision making.</strong>"

              <h4>
                <span class="bold">Sunil Pillai</span><br>Co-founder<br> iValue
              </h4>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div classs="row">
            <div class="float-left">
              <img src="assets/landingpage/img_venkat.png" alt="First slide">
            </div>
            <div class="float-left text-block">

              "Relatas has provided a level of efficiency and insights that we didn’t have before. Relatas gives our sales rep
              and leadership a <strong>unique view into the forecast</strong>
<!--              with in-depth visibility into-->
<!--              committed bookings, upside and any risks involved and helps drive actionable insights to predictably meet revenue-->
<!--              targets -->vasant
              "

              <h4>
                <span class="bold">Venkat Murthy</span><br>CEO<br> 22by7
              </h4>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div classs="row">
            <div class="float-left">
              <img src="assets/landingpage/img_gaurav.png" alt="First slide">
            </div>
            <div class="float-left text-block">
              "I'm excited about Relatas, because now AI can finally help us be better at the
              most human of all things - <strong>social relationships</strong>“

              <h4>
                <span class="bold">Gaurav Rastogi</span><br>Former VP Sales<br> Infosys
              </h4>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div classs="row">
            <div class="float-left">
              <img src="assets/landingpage/img_vasant.png" alt="First slide">
            </div>
            <div class="float-left text-block">
              " Relatas enables me to manage my relationships and interactions much more efficiently
              leading to <strong>increased effectiveness in my business operations</strong>"
              <h4>
                <span class="bold">Vasant Kumar</span><br>Former Sr Director<br> Oracle
              </h4>
            </div>
          </div>
        </div>
      </div>
<!--      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">-->
<!--        <i class="fas fa-chevron-left"></i>-->
<!--        <span class="sr-only">Previous</span>-->
<!--      </a>-->
<!--      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">-->
<!--        <i class="fas fa-chevron-right"></i>-->
<!--        <span class="sr-only">Next</span>-->
<!--      </a>-->
    </div>
  </div>

  <div style="margin-top: 3.5rem;">
    <div class="links-resources">
      <div [routerLink]="['/sales-resources']" [queryParams]="{type: 'whitepaper'}" class="block for-scroll">

        <img src="assets/landingpage/icon_whitepaper.png">
        <strong class="text-blue">WHITE PAPER</strong>
      </div>
      <div [routerLink]="['/sales-resources']" [queryParams]="{type: 'casestudies'}" class="block for-scroll">
        <img src="assets/landingpage/icon_casestudies.png">
        <strong class="text-blue">CASE STUDIES</strong>
      </div>
      <div [routerLink]="['/sales-resources']" [queryParams]="{type: 'usecases'}" class="block for-scroll">
        <img src="assets/landingpage/icon_usecases.png">
        <strong class="text-blue">USE CASES</strong>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 style="margin-top: 3.5rem;">
          See what
          <span class="text-blue">Relatas</span><br>
          can do for
          <span class="text-blue">you</span>
        </h1>
      </div>
      <div class="col-md-6">
        <div class="box-cards" style="min-height: 285px;">
          <div class="row">
            <div class="col-sm-8">
              <h5>
                Sales Forecast
              </h5>
              <i class="block">Analyze meaningful behaviors, play with 'WHAT-IF' scenarios
              </i>
              <div>
                Identify sales forecast patterns. Play with multiple 'WHAT-IF' scenarios to help you decide the next path. Get actionable insights when important metrics change.
              </div>

              <button class="btn btn-sm btn-primary-text for-scroll" routerLink="/sales-forecast">
                LEARN MORE <i class="fas fa-arrow-right"></i>
              </button>
            </div>
            <div class="col-sm-4">
              <img src="assets/landingpage/see_rel_img01.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="box-cards">
          <div class="row">
            <div class="col-sm-8">
              <h5>
                Sales AI
              </h5>
              <i class="block">
                Discover the 'Why' behind sales
              </i>
              <div>
                Predict Sales Forecast patterns, on 'why' sales happen. Get actionable insights when important metrics change.
              </div>

              <button class="btn btn-sm btn-primary-text for-scroll" routerLink="/sales-ai">
                LEARN MORE <i class="fas fa-arrow-right"></i>
              </button>
            </div>
            <div class="col-sm-4">
              <img src="assets/landingpage/see_rel_img05.png">

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box-cards">
          <div class="row">
            <div class="col-sm-8">
              <h5>
                Sales Analytics

              </h5>
              <i class="block">Tired of sales un-intelligence

              </i>
              <div>
                Get true picture of what is happening on the ground. Analyze what is not working in real time and take action in deal rooms.

              </div>

              <button class="btn btn-sm btn-primary-text for-scroll" routerLink="/sales-analytics">
                LEARN MORE <i class="fas fa-arrow-right"></i>
              </button>
            </div>
            <div class="col-sm-4">
              <img src="assets/landingpage/see_rel_img02.png">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="box-cards">
          <div class="row">
            <div class="col-sm-8">
              <h5>Data Governance

              </h5>
              <i class="block">
                Manage sales reps and data
              </i>
              <div>
                With 'No-Data-Entry' CRM, get authetic data in the Relatas CRM and manage the sales reps and sales data easily.

              </div>

              <button class="btn btn-sm btn-primary-text for-scroll" routerLink="/crm">
                LEARN MORE <i class="fas fa-arrow-right"></i>
              </button>
            </div>
            <div class="col-sm-4">
              <img src="assets/landingpage/see_rel_img04.png">

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box-cards">
          <div class="row">
            <div class="col-sm-8">
              <h5>
                Enterprise Ready
              </h5>
              <i class="block">
                Tap into the platform built for speed, security and scale

              </i>
              <div>
                Integrate with your existing system to a secure environment.

              </div>

              <button class="btn btn-sm btn-primary-text for-scroll" routerLink="/security">
                LEARN MORE <i class="fas fa-arrow-right"></i>
              </button>
            </div>
            <div class="col-sm-4">
              <img src="assets/landingpage/see_rel_img03.png">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="container text-center">
    <h2>
      Are you ready to
      <span class="text-blue">successfully forecast?</span>
    </h2>
    <p class="text-center">Use data to stop guessing and start selling. Nothing to install. Go live in 15 minutes.
    </p>
    <div class="btns-grp-wrapper">
      <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
    </div>
  </div>
</div>

<div>
  <img src="assets/website/banner51.png">
</div>
