<div class="position-relative">
  <ul class="cb-slideshow list-unstyled">
    <li>
      <span class="span-bg-img">
        <div class="hero-text">
           <h1>
            Sales <span>AI</span>
            <!--<span>We makes it easy</span>-->
          </h1>
          <p style="color: #666; width: 50%;">
            Relatas collates important information and<br> uses <span class="bold">Artificial Intelligence</span>
            to provide <span class="bold">Sales Insights</span> with <span class="bold">NO-DATA-ENTRY</span>
          </p>
          <div class="btns-grp-wrapper">
            <button class="orange-btn font-weight-bold" routerLink="/demo">see it in action</button>
          </div>
      </div>
      </span>
    </li>
    <li>
      <span class="span-bg-img">
         <div class="hero-text">
        <h1>
          Sales <span>AI</span>
          <!--<span>We makes it easy</span>-->
        </h1>
           <p style="color: #666; width: 50%;">
             Relatas collates important information and<br> uses <span class="bold">Artificial Intelligence</span>
             to provide <span class="bold">Sales Insights</span> with <span class="bold">NO-DATA-ENTRY</span>
           </p>
        <div class="btns-grp-wrapper">
          <button class="orange-btn font-weight-bold" routerLink="/demo">see it in action</button>
        </div>
      </div>
      </span>
    </li>
    <li>
      <span class="span-bg-img">
         <div class="hero-text">
               <h1>
          Sales <span>AI</span>
          <!--<span>We makes it easy</span>-->
        </h1>
           <p style="color: #666; width: 50%;">
             Relatas collates important information and<br> uses <span class="bold">Artificial Intelligence</span>
             to provide <span class="bold">Sales Insights</span> with <span class="bold">NO-DATA-ENTRY</span>
           </p>
        <div class="btns-grp-wrapper">
          <button class="orange-btn font-weight-bold" routerLink="/demo">see it in action</button>
        </div>
      </div>
      </span>
    </li>
    <li>
      <span class="span-bg-img">
        <div class="hero-text">
        <h1>
          Sales <span>AI</span>
          <!--<span>We makes it easy</span>-->
        </h1>
          <p style="color: #666; width: 50%;">
            Relatas collates important information and<br> uses <span class="bold">Artificial Intelligence</span>
            to provide <span class="bold">Sales Insights</span> with <span class="bold">NO-DATA-ENTRY</span>
          </p>
        <div class="btns-grp-wrapper">
          <button class="orange-btn font-weight-bold" routerLink="/demo">see it in action</button>
        </div>
      </div>
      </span>
    </li>
    <li>
      <span class="span-bg-img">
        <div class="hero-text">
          <h1>
            Sales <span>AI</span>
            <!--<span>We makes it easy</span>-->
        </h1>
          <p style="color: #666; width: 50%;">
            Relatas collates important information and<br> uses <span class="bold">Artificial Intelligence</span>
            to provide <span class="bold">Sales Insights</span> with <span class="bold">NO-DATA-ENTRY</span>
          </p>
        <div class="btns-grp-wrapper">
          <button class="orange-btn font-weight-bold" routerLink="/demo">see it in action</button>
        </div>
      </div>
      </span>
    </li>
    <li>
      <span class="span-bg-img">
         <div class="hero-text">
        <h1>
          Sales <span>AI</span>
          <!--<span>We makes it easy</span>-->
        </h1>
           <p style="color: #666; width: 50%;">
             Relatas collates important information and<br> uses <span class="bold">Artificial Intelligence</span>
             to provide <span class="bold">Sales Insights</span> with <span class="bold">NO-DATA-ENTRY</span>
           </p>
        <div class="btns-grp-wrapper">
          <button class="orange-btn font-weight-bold" routerLink="/demo">see it in action</button>
        </div>
      </div>
      </span>
    </li>
  </ul>
  <div class="row e-books-download">
    <div class="col-2 cursor" routerLink="/white-paper">
      <img src="assets/website/whitepaper.png">
      white paper
    </div>
    <div class="col-2 cursor" routerLink="/case-studies">
      <img src="assets/website/casestudies.png">
      case studies
    </div>
    <div class="col-2 cursor" routerLink="/use-cases">
      <img src="assets/website/usecases.png">
      use cases
    </div>
  </div>
</div>

<div class="box lite-grey-bg">
  <div class="container">
    <h2 class="text-uppercase text-center">
      close more deals
      <span class="text-blue">predictably</span>
    </h2>
    <p class="text-center lite margin-t25">
      From predictive insights for sales executives to deep analytics for sales leaders & CXO.
      Relatas delivers value to entire<br>sales team with <strong>NO-DATA-ENTRY</strong> and
      <strong>NO-CHANGE-IN-BEHAVIOR</strong>
    </p>
    <div class="btn-group-invert text-center">
      <button class="margin-r25" [ngClass]="cxoIsSelected" (click)="openCxo()">cxo/vp sales</button>
      <button class="margin-r25" [ngClass]="managerIsSelected" (click)="openManager()">sales manager</button>
      <button class="margin-r25" [ngClass]="repIsSelected" (click)="openRep()">sales rep</button>
    </div>
    <div class="product-feature-snippets multi-uls" *ngIf="cxoIsSelected.arrow_box_bottom">
      <div class="row">
        <div class="col-2 offset-3 text-center">

          <img src="assets/website/cxo_icon1.png">
          <p class="text-uppercase">
            <strong>IMPROVE FORECAST MANAGEMENT</strong>
          </p>
        </div>
        <div class="col-2 text-center">

          <img src="assets/website/cxo_icon2.png">

            <p class="text-uppercase">
              <strong>OPTIMIZE SALES EXECUTION WITH ORG-WIDE INSIGHTS</strong>
          </p>
        </div>
        <div class="col-2 text-center">

          <img src="assets/website/cxo_icon3.png">
          <p class="text-uppercase">
            <strong>INCREASE CRM ADOPTION WITH NO DATA ENTRY</strong>
          </p>
        </div>
      </div>
      <img class="bottom" src="assets/website/isometric_new 2.jpg">
    </div>
    <div class="product-feature-snippets" *ngIf="managerIsSelected.arrow_box_bottom">
      <div class="row">
        <div class="col-2 offset-3 text-center">

          <img src="assets/website/manager_icon1.png">
          <p class="text-uppercase">
            <strong>INCREASE EFFICIENCY OF WEEKLY REVIEWS</strong>
          </p>
        </div>
        <div class="col-2 text-center">

          <img src="assets/website/manager_icon2.png">
          <p class="text-uppercase">
            <strong>TEAM PIPELINE VELOCITY WITH DEAL FLOWS</strong>
          </p>
        </div>
        <div class="col-2 text-center">

          <img src="assets/website/manager_icon3.png">
          <p class="text-uppercase"><strong>TEAM COACHING AND REPLICATE TEAM SUCCESS
          </strong>
          </p>
        </div>
      </div>
      <img class="bottom" src="assets/website/saleMgr.jpg">
    </div>

    <div class="product-feature-snippets" *ngIf="repIsSelected.arrow_box_bottom">
      <div class="row">
        <div class="col-2 offset-3 text-center">

          <img src="assets/website/manager_icon1.png">
          <p class="text-uppercase"><strong>NO DATA ENTRY WITH AUTOMATIC DATA CAPTURE
          </strong>
          </p>
        </div>
        <div class="col-2 text-center">

          <img src="assets/website/manager_icon2.png">
          <p class="text-uppercase"><strong>ACTIONABLE INSIGHTS
          </strong>
          </p>
        </div>
        <div class="col-2 text-center">

          <img src="assets/website/manager_icon3.png">
          <p class="text-uppercase"><strong>DEALS AT RISK<br> WITH DE-RISK<br>SUGGESTIONS</strong>
          </p>
        </div>
      </div>
      <img class="bottom" src="assets/website/banner6.jpg">
    </div>
  </div>
</div>

<div class="box lite-grey-bg">
  <div class="container">
    <h2 class="text-uppercase text-center">
      Professionals from <br>700+ global organisations use Relatas
    </h2>
    <img src="assets/website/banner4.jpg">
  </div>

  <div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h3 class="quote">" Relatas makes my meetings smarter by providing insights about my interactions. Love, how the external events automatically show up on my agenda almost daily "</h3>
          <img src="assets/website/goel.png">
          <h3 class="light text-center">Alok Goel<br><span class="fs19">Managing Partner, SAIF Partners.</span></h3>
        </div>
        <div class="carousel-item">
          <h3 class="quote">
            " I like how Relatas seamlessly works with the tools I already use and
            uses cognitive technology to help me keep on top of what is time critical! "
          </h3>
          <img src="assets/website/rajani.jpg">
          <h3 class="light text-center">Rajani Ramanathan<br><span class="fs19">Former COO(EVP) of Technology & Products, Salesforce</span></h3>
        </div>
        <div class="carousel-item">

          <h3 class="quote">
            "I'm excited about Relatas, <br>because now AI can finally help us be better at the most human of all things - social relationships. "</h3>
          <img src="assets/website/gaurav.jpg">
          <h3 class="light text-center">Gaurav Rastogi<br><span class="fs19">President, Nagarro</span></h3>
        </div>
        <div class="carousel-item">

          <h3 class="quote">" Relatas enables me to manage my relationships and interactions much more efficiently leading to increased effectiveness in my business operations. "</h3>
          <img src="assets/website/vasant.jpg">
          <h3 class="light text-center">Vasant Kumar<br><span class="fs19">Former Sr Director, Oracle</span></h3>
        </div>
        <div class="carousel-item">

          <h3 class="quote">
            " Relatas is a pioneering customer relationship automation suggesting what sales reps should do next to
            build stronger relationships & thus increase sales.
            A godsend to sales reps!"</h3>
          <img src="assets/website/julio.jpg">
          <h3 class="light text-center">Julio Martinez-Clark<br><span class="fs19">CEO, Interventional Concepts</span></h3>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <i class="fa fa-angle-right"></i>
      </a>

    </div>
  </div>
</div>

<div class="box" style="background: #fcfdff;">
  <div class="container">
    <h2 class="text-uppercase text-center">
      Our Customers use Relatas to<br> drive forecast management<br> and improve team productivity
    </h2>
    <p class="text-center">
      Sales is a relationship driven process
    </p>
  </div>
  <img src="assets/website/landing-1.png">
</div>

<div class="box customer-first">
  <div class="container">
    <h2 class="text-uppercase text-center">
      discover <br>
      <span class="text-blue">customer - first</span>
      <br> sales transformation
    </h2>
    <div class="text-center">
      <button class="orange-btn" routerLink="/demo">see it in action</button>
    </div>
    <p class="text-center bold box-abs-bottom15">
      Nothing to install. Go Live in 15 minutes.
    </p>
  </div>
</div>

<div class="box">
  <img src="assets/website/banner5.jpg">
</div>
