
<div id="sales-ops">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1>
          Transform your sales team into a closing machine.
        </h1>
        <p>
          Create and share business critical documents confidently. Create/ share/ track invoices, quotations, proposals, marketing material with your prospects and get page level analytics.
        </p>
      </div>
      <div class="col-md-7 relative">

        <img src="assets/hero/0.hero_img_DocumentInsights.png">
<!--        <div class="card first">-->

<!--        </div>-->
<!--        <div class="card second"></div>-->
<!--        <div class="card third"></div>-->
      </div>
    </div>
  </div>
</div>

<div class="margintb25 text-center">
  <p>Professionals from 1000+ companies from 300+ global cities rely on Relatas</p>
  <img src="assets/website/banner61.png">
</div>

<div class="margintb25 review">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/website/vasant.jpg">
    </div>
    <div class="col-md-9">
      <div class="padding">
        <h2>
          "By using Relatas, our team members are able to manage their client relationships better which
          helps them close deals faster. Relatas also gives us the insights we require to be agile and
          informed in our decision making."
        </h2>
        <strong>Sunil Pillai</strong>
        <p>Chairman, iValue</p>
      </div>
    </div>
  </div>
</div>

<div class="margintb25 text-center case-studies">
<a href="/sales-resources?type=casestudies">  <img src="assets/landingpage/icon_casestudies.png">
  <strong class="text-uppercase">case studies</strong></a>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/hero/hero_img_docinsights.png">
      </div>
      <div class="col-md-6 img-txt">
        <h1>
          Fact:
        </h1>
        <h4>
          You can get page level analytics for your business documents
        </h4>
        <p>
          Relatas helps you get 100% page level analytics for documents shared through Relatas. Share marketing materials, invoices, quotations.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <h4>
          No More Email Attachments
        </h4>
        <p>
          Securely share documents with your contacts. No more email attachments. No more clogging inboxes.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img-txt">
        <img src="assets/landingpage/no_doc_attach.png">
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/landingpage/branded-experience.png">
      </div>
      <div class="col-md-6 img-txt">
        <h4>
          Branded Experience and team organization.
        </h4>
        <p>
          Show your clients, who you are with Branded experience. Bring control and consistency to your proposal process. Relatas keeps everything organized and in one place so your team can easily access whatever they need to create and send a proposal quickly.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <h4>
          Instant Feedback with analytics
        </h4>
        <p>
          Waiting to hear back after you send a proposal can be agony. We notify each sales reps as soon as their lead reads the proposal with page level analytics. Our snapshot delivers details about how clients are interacting with your sales team’s proposals. We tell you which sections they looked at and for how long, plus the amount of time they spent viewing the proposal overall.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img-txt">
        <img src="assets/landingpage/instant_feedback.png">
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/landingpage/no_doc_attach.png">
      </div>
      <div class="col-md-6 img-txt">
        <h4>
          Control Access
        </h4>
        <p>
          Set expiry dates for each document. Password protect the documents to prevent un-authorized access.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <h4>
          Your contacts don’t need to download any software
        </h4>
        <p>
          Confidently share PDF’s with your prospects. They don’t need to download any software for the same. Mobile and Browser compatible.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
      <div class="col-md-6 img-txt">
        <img src="assets/landingpage/no_download.png">
      </div>
    </div>
  </div>
</div>

<div class="alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <img src="assets/landingpage/no_doc_attach.png">
      </div>
      <div class="col-md-6 img-txt">
        <h4>
          Create Documents
        </h4>
        <p>
          Create multiple templates and edit them as you wish. Create multiple Quotations, Proposals, Invoices from these templates and then send them directly from Relatas Document Management.
        </p>

        <div class="btns-grp-wrapper">

          <button class="btn btn-outline-primary font-weight-bold text-uppercase for-scroll" routerLink="/demo">See it in action</button>
        </div>
      </div>
    </div>
  </div>
</div>
