<div id="sales-ops">
</div>

<div class="margintb25">
  <div class="container">
    <h3 class="text-center text-uppercase bold" style="margin: 1.5rem 0 1.75rem 0;">
      <span class="text-blue">Account </span> Management
    </h3>

    <p class="text-center">
      With automatic data capture, Relatas highlights powerful account based insights to help reps focus on what they do best – sell.
    </p>
    <div class="row roles">
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Align your strategies with customers strategies</strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>
              With relatas account insights powered by artificial intelligence, be informed of key developments that impact your relationship with customers.
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              De-risk account management
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Manage accounts smarter</strong>
            <ul class="list-unstyled">
              <li>
                <i class="fas fa-angle-right"></i>
                Get a 360-degree view of your key accounts, contacts and opportunities.
              </li>
              <li>
                <i class="fas fa-angle-right"></i>
                Visually manage your customers organization hierarchy with key stakeholders and interactions with them.
              </li>
              <li>
                <i class="fas fa-angle-right"></i>
                Act on previously hidden intelligence from interactions with Key stakeholders.

              </li>
            </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-grey-litest">
          <strong>Get actionable intelligence on your accounts </strong>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-angle-right"></i>
              Get notified about key actions to be taken
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Get to know when you are losing touch with key customers
            </li>
            <li>
              <i class="fas fa-angle-right"></i>
              Manage escalations proactively by getting insights into customer sentiment.

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
